USE [master]
GO
/****** Object:  Database [QUANLYPHONGTRO]    Script Date: 06/22/2024 2:48:50 PM ******/
CREATE DATABASE [QUANLYPHONGTRO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYPHONGTRO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SEVERTEST\MSSQL\DATA\QUANLYPHONGTRO.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QUANLYPHONGTRO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SEVERTEST\MSSQL\DATA\QUANLYPHONGTRO_log.ldf' , SIZE = 3136KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYPHONGTRO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYPHONGTRO]
GO
/****** Object:  User [I12]    Script Date: 06/22/2024 2:48:50 PM ******/
CREATE USER [I12] FOR LOGIN [PHONGI12] WITH DEFAULT_SCHEMA=[I12]
GO
/****** Object:  User [I02]    Script Date: 06/22/2024 2:48:50 PM ******/
CREATE USER [I02] FOR LOGIN [PHONGI02] WITH DEFAULT_SCHEMA=[I02]
GO
/****** Object:  User [I01]    Script Date: 06/22/2024 2:48:50 PM ******/
CREATE USER [I01] FOR LOGIN [PHONGI01] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [CT]    Script Date: 06/22/2024 2:48:50 PM ******/
CREATE USER [CT] FOR LOGIN [ADMIN] WITH DEFAULT_SCHEMA=[CT]
GO
/****** Object:  DatabaseRole [PHONG]    Script Date: 06/22/2024 2:48:50 PM ******/
CREATE ROLE [PHONG]
GO
/****** Object:  DatabaseRole [CHUTRO]    Script Date: 06/22/2024 2:48:50 PM ******/
CREATE ROLE [CHUTRO]
GO
ALTER ROLE [PHONG] ADD MEMBER [I12]
GO
ALTER ROLE [db_datareader] ADD MEMBER [I12]
GO
ALTER ROLE [PHONG] ADD MEMBER [I02]
GO
ALTER ROLE [db_datareader] ADD MEMBER [I02]
GO
ALTER ROLE [PHONG] ADD MEMBER [I01]
GO
ALTER ROLE [db_datareader] ADD MEMBER [I01]
GO
ALTER ROLE [CHUTRO] ADD MEMBER [CT]
GO
ALTER ROLE [db_owner] ADD MEMBER [CT]
GO
ALTER ROLE [db_datareader] ADD MEMBER [PHONG]
GO
ALTER ROLE [db_owner] ADD MEMBER [CHUTRO]
GO
/****** Object:  Schema [CT]    Script Date: 06/22/2024 2:48:50 PM ******/
CREATE SCHEMA [CT]
GO
/****** Object:  Schema [I02]    Script Date: 06/22/2024 2:48:50 PM ******/
CREATE SCHEMA [I02]
GO
/****** Object:  Schema [I12]    Script Date: 06/22/2024 2:48:50 PM ******/
CREATE SCHEMA [I12]
GO
/****** Object:  Table [dbo].[BIENBAN_VIPHAM]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BIENBAN_VIPHAM](
	[ID_BBVP] [int] IDENTITY(1,1) NOT NULL,
	[ID_CTTHUE] [int] NOT NULL,
	[MANOIQUY] [int] NULL,
	[SOLAN] [int] NULL,
	[NGAYVIPHAM] [date] NULL,
 CONSTRAINT [PK_BIENBAN_VIPHAM] PRIMARY KEY CLUSTERED 
(
	[ID_BBVP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUTRO]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHUTRO](
	[MACHUTRO] [varchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[GIOITINH] [nvarchar](3) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[SDT] [varchar](11) NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_CHUTRO] PRIMARY KEY CLUSTERED 
(
	[MACHUTRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COSOVATCHAT]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COSOVATCHAT](
	[MATIENNGHI] [int] IDENTITY(1,1) NOT NULL,
	[TENTIENNGHI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TIENNGHI] PRIMARY KEY CLUSTERED 
(
	[MATIENNGHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CSVC_PHONG]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CSVC_PHONG](
	[MAPHONG] [varchar](4) NOT NULL,
	[MATIENNGHI] [int] NOT NULL,
	[TRANGTHAI] [nvarchar](15) NULL,
 CONSTRAINT [PK_TIENNGHI_PHONG] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC,
	[MATIENNGHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_DICHVU]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_DICHVU](
	[MAPHONG] [varchar](4) NOT NULL,
	[MADV] [varchar](10) NOT NULL,
	[THANG] [int] NOT NULL,
	[NAM] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [money] NULL,
 CONSTRAINT [PK_CT_DICHVU] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC,
	[MADV] ASC,
	[THANG] ASC,
	[NAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_DIENNUOC]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_DIENNUOC](
	[ID_DIENNUOC] [int] NOT NULL,
	[MAPHONG] [varchar](4) NOT NULL,
	[THANG] [int] NOT NULL,
	[NAM] [int] NOT NULL,
	[CHISODAU] [int] NULL,
	[CHISOCUOI] [int] NULL,
	[DONGIA] [money] NULL,
 CONSTRAINT [PK_CT_DIENNUOC] PRIMARY KEY CLUSTERED 
(
	[ID_DIENNUOC] ASC,
	[MAPHONG] ASC,
	[THANG] ASC,
	[NAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_HOADON]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_HOADON](
	[MAHOADON] [nchar](14) NOT NULL,
	[MAPHONG] [varchar](4) NOT NULL,
	[NGAYDONG] [datetime] NOT NULL,
	[SOTIENDONG] [money] NULL,
 CONSTRAINT [PK_CT_HOADON_1] PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC,
	[MAPHONG] ASC,
	[NGAYDONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_SUACHUA]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_SUACHUA](
	[ID_CTTHUE] [int] NOT NULL,
	[MATIENNGHI] [int] NOT NULL,
	[NGAYTHONGBAO] [datetime] NOT NULL,
	[LYDO] [ntext] NOT NULL,
	[TIENSUACHUA] [money] NULL,
 CONSTRAINT [PK_CT_SUACHUA_1] PRIMARY KEY CLUSTERED 
(
	[ID_CTTHUE] ASC,
	[MATIENNGHI] ASC,
	[NGAYTHONGBAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_THUE]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_THUE](
	[ID_CTTHUE] [int] IDENTITY(1,1) NOT NULL,
	[MAKHACHTHUE] [int] NOT NULL,
	[MAPHONG] [varchar](4) NOT NULL,
	[NGAYTHUE] [date] NULL,
	[NGAYTRA] [date] NULL,
 CONSTRAINT [PK_CT_THUE] PRIMARY KEY CLUSTERED 
(
	[ID_CTTHUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [varchar](10) NOT NULL,
	[TENDICHVU] [nvarchar](50) NOT NULL,
	[GIATIEN] [money] NULL,
 CONSTRAINT [PK_DICHVU] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIENNUOC]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIENNUOC](
	[ID_DIENNUOC] [int] NOT NULL,
	[TENLOAI] [nvarchar](10) NOT NULL,
	[DVT] [varchar](3) NOT NULL,
	[DONGIA] [money] NOT NULL,
 CONSTRAINT [PK_DIENNUOC] PRIMARY KEY CLUSTERED 
(
	[ID_DIENNUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [nchar](14) NOT NULL,
	[NGAYLAP] [date] NOT NULL,
	[TIENDICHVU] [money] NOT NULL,
	[TIENSUACHUA] [money] NOT NULL,
	[TIENPHAT] [money] NOT NULL,
	[TIENPHONG] [money] NOT NULL,
	[TIENDIEN] [money] NULL,
	[TIENNUOC] [money] NULL,
	[NOTHANGTRUOC] [money] NOT NULL CONSTRAINT [DF_HOADON_NOTHANGTRUOC]  DEFAULT ((0)),
	[TONGTIENDADONG] [money] NOT NULL CONSTRAINT [DF_HOADON_TONGTIENDADONG]  DEFAULT ((0)),
	[MAPHONG] [varchar](4) NOT NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOPDONG](
	[MAHOPDONG] [varchar](8) NOT NULL,
	[NOIDUNG] [nvarchar](100) NULL,
	[NGAYLAP] [date] NOT NULL CONSTRAINT [DF_HOPDONG_NGAYLAP]  DEFAULT (getdate()),
	[NGAYBDTHUE] [date] NOT NULL,
	[NGAYHETHAN] [date] NOT NULL,
	[TIENDATCOC] [money] NULL,
	[SLKHACHTHUE] [int] NOT NULL,
	[TRANGTHAIHD] [nvarchar](20) NOT NULL,
	[MAPHONG] [varchar](4) NOT NULL,
	[MAKHACHTHUE] [int] NOT NULL,
 CONSTRAINT [PK_HOPDONG] PRIMARY KEY CLUSTERED 
(
	[MAHOPDONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHTHUE]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHTHUE](
	[MAKHACHTHUE] [int] IDENTITY(1,1) NOT NULL,
	[CCCD] [nchar](12) NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[SDT] [nchar](11) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nchar](3) NULL CONSTRAINT [DF_KHACHTHUE_GIOITINH]  DEFAULT (N'Nam'),
	[NGHENGHIEP] [nvarchar](20) NULL,
	[QUEQUAN] [nvarchar](50) NULL,
	[TRANGTHAI] [bit] NOT NULL,
 CONSTRAINT [PK_KHACHTHUE] PRIMARY KEY CLUSTERED 
(
	[MAKHACHTHUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MALOAIPHONG] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](30) NOT NULL,
	[CONOITHAT] [bit] NOT NULL,
	[DONGIA] [money] NULL,
 CONSTRAINT [PK_LOAIPHONG] PRIMARY KEY CLUSTERED 
(
	[MALOAIPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NOIQUY]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOIQUY](
	[MANOIQUY] [int] IDENTITY(1,1) NOT NULL,
	[TENNOIQUY] [nvarchar](50) NOT NULL,
	[TIENPHAT] [money] NULL,
 CONSTRAINT [PK_NOIQUY] PRIMARY KEY CLUSTERED 
(
	[MANOIQUY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAPHONG] [varchar](4) NOT NULL,
	[DIENTICH] [float] NULL,
	[SLKHACHTHUETOIDA] [int] NULL,
	[TANG] [int] NULL,
	[DAY] [varchar](2) NULL,
	[MALOAIPHONG] [int] NULL,
	[TRANGTHAI] [nvarchar](30) NOT NULL CONSTRAINT [DF_PHONG_TRANGTHAI]  DEFAULT (N'Trống'),
 CONSTRAINT [PK_PHONG] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[MAQUYEN] [int] NOT NULL,
	[TENQUYEN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_QUYEN] PRIMARY KEY CLUSTERED 
(
	[MAQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENDN] [varchar](20) NOT NULL,
	[MATKHAU] [varchar](30) NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
	[MAPHONG] [varchar](4) NULL,
	[MACHUTRO] [varchar](10) NULL,
	[MAQUYEN] [int] NOT NULL,
 CONSTRAINT [PK_TAIKHOAN_1] PRIMARY KEY CLUSTERED 
(
	[TENDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[BIENBAN_VIPHAM] ON 

INSERT [dbo].[BIENBAN_VIPHAM] ([ID_BBVP], [ID_CTTHUE], [MANOIQUY], [SOLAN], [NGAYVIPHAM]) VALUES (2, 8, 1, 1, CAST(N'2024-05-02' AS Date))
INSERT [dbo].[BIENBAN_VIPHAM] ([ID_BBVP], [ID_CTTHUE], [MANOIQUY], [SOLAN], [NGAYVIPHAM]) VALUES (3, 8, 2, 1, CAST(N'2024-05-15' AS Date))
INSERT [dbo].[BIENBAN_VIPHAM] ([ID_BBVP], [ID_CTTHUE], [MANOIQUY], [SOLAN], [NGAYVIPHAM]) VALUES (6, 8, 1, 2, CAST(N'2024-05-30' AS Date))
SET IDENTITY_INSERT [dbo].[BIENBAN_VIPHAM] OFF
INSERT [dbo].[CHUTRO] ([MACHUTRO], [HO], [TEN], [GIOITINH], [DIACHI], [SDT], [EMAIL]) VALUES (N'CT        ', N'Nguyễn Trung', N'Khánh', N'Nam', N'74, Quang Trung', N'0378277559', N'nguyentrungk461@gmail.com')
SET IDENTITY_INSERT [dbo].[COSOVATCHAT] ON 

INSERT [dbo].[COSOVATCHAT] ([MATIENNGHI], [TENTIENNGHI]) VALUES (4, N'Bóng đèn')
INSERT [dbo].[COSOVATCHAT] ([MATIENNGHI], [TENTIENNGHI]) VALUES (2, N'Quạt trần')
INSERT [dbo].[COSOVATCHAT] ([MATIENNGHI], [TENTIENNGHI]) VALUES (1, N'Toilet')
SET IDENTITY_INSERT [dbo].[COSOVATCHAT] OFF
INSERT [dbo].[CSVC_PHONG] ([MAPHONG], [MATIENNGHI], [TRANGTHAI]) VALUES (N'I01', 1, N'Tốt')
INSERT [dbo].[CSVC_PHONG] ([MAPHONG], [MATIENNGHI], [TRANGTHAI]) VALUES (N'I01', 2, N'Tốt')
INSERT [dbo].[CSVC_PHONG] ([MAPHONG], [MATIENNGHI], [TRANGTHAI]) VALUES (N'I01', 3, N'Tốt')
INSERT [dbo].[CT_DICHVU] ([MAPHONG], [MADV], [THANG], [NAM], [SOLUONG], [DONGIA]) VALUES (N'I01', N'DV01', 4, 2024, NULL, 50000.0000)
INSERT [dbo].[CT_DICHVU] ([MAPHONG], [MADV], [THANG], [NAM], [SOLUONG], [DONGIA]) VALUES (N'I01', N'DV01', 5, 2024, NULL, 50000.0000)
INSERT [dbo].[CT_DICHVU] ([MAPHONG], [MADV], [THANG], [NAM], [SOLUONG], [DONGIA]) VALUES (N'I01', N'DV02', 4, 2024, 1, 100000.0000)
INSERT [dbo].[CT_DIENNUOC] ([ID_DIENNUOC], [MAPHONG], [THANG], [NAM], [CHISODAU], [CHISOCUOI], [DONGIA]) VALUES (1, N'I01', 4, 2024, 0, 100, 2000.0000)
INSERT [dbo].[CT_DIENNUOC] ([ID_DIENNUOC], [MAPHONG], [THANG], [NAM], [CHISODAU], [CHISOCUOI], [DONGIA]) VALUES (1, N'I01', 5, 2024, 100, 150, 2000.0000)
INSERT [dbo].[CT_DIENNUOC] ([ID_DIENNUOC], [MAPHONG], [THANG], [NAM], [CHISODAU], [CHISOCUOI], [DONGIA]) VALUES (2, N'I01', 4, 2024, 0, 20, 5000.0000)
SET IDENTITY_INSERT [dbo].[CT_THUE] ON 

INSERT [dbo].[CT_THUE] ([ID_CTTHUE], [MAKHACHTHUE], [MAPHONG], [NGAYTHUE], [NGAYTRA]) VALUES (8, 1, N'I01', CAST(N'2024-03-10' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[CT_THUE] OFF
INSERT [dbo].[DICHVU] ([MADV], [TENDICHVU], [GIATIEN]) VALUES (N'DV01', N'Đổ rác', 50000.0000)
INSERT [dbo].[DICHVU] ([MADV], [TENDICHVU], [GIATIEN]) VALUES (N'DV02', N'Đỗ xe', 100000.0000)
INSERT [dbo].[DIENNUOC] ([ID_DIENNUOC], [TENLOAI], [DVT], [DONGIA]) VALUES (1, N'Điện', N'kwh', 2000.0000)
INSERT [dbo].[DIENNUOC] ([ID_DIENNUOC], [TENLOAI], [DVT], [DONGIA]) VALUES (2, N'Nước', N'm3', 5000.0000)
INSERT [dbo].[HOADON] ([MAHOADON], [NGAYLAP], [TIENDICHVU], [TIENSUACHUA], [TIENPHAT], [TIENPHONG], [TIENDIEN], [TIENNUOC], [NOTHANGTRUOC], [TONGTIENDADONG], [MAPHONG]) VALUES (N'HDI01_01052024', CAST(N'2024-05-01' AS Date), 150000.0000, 0.0000, 0.0000, 1000000.0000, 100000.0000, 100000.0000, 0.0000, 0.0000, N'I01')
INSERT [dbo].[HOADON] ([MAHOADON], [NGAYLAP], [TIENDICHVU], [TIENSUACHUA], [TIENPHAT], [TIENPHONG], [TIENDIEN], [TIENNUOC], [NOTHANGTRUOC], [TONGTIENDADONG], [MAPHONG]) VALUES (N'HDI01_30052024', CAST(N'2024-05-30' AS Date), 150000.0000, 0.0000, 0.0000, 1000000.0000, 100000.0000, 150000.0000, 0.0000, 0.0000, N'I01')
INSERT [dbo].[HOPDONG] ([MAHOPDONG], [NOIDUNG], [NGAYLAP], [NGAYBDTHUE], [NGAYHETHAN], [TIENDATCOC], [SLKHACHTHUE], [TRANGTHAIHD], [MAPHONG], [MAKHACHTHUE]) VALUES (N'HDI01001', NULL, CAST(N'2024-03-03' AS Date), CAST(N'2024-03-10' AS Date), CAST(N'2024-10-03' AS Date), 1000000.0000, 1, N'Đang hiệu lực', N'I01', 1)
INSERT [dbo].[HOPDONG] ([MAHOPDONG], [NOIDUNG], [NGAYLAP], [NGAYBDTHUE], [NGAYHETHAN], [TIENDATCOC], [SLKHACHTHUE], [TRANGTHAIHD], [MAPHONG], [MAKHACHTHUE]) VALUES (N'HDI02001', N'Ví dụ', CAST(N'2024-03-03' AS Date), CAST(N'2024-03-07' AS Date), CAST(N'2024-10-03' AS Date), 1000000.0000, 1, N'Đang hiệu lực', N'I02', 2)
SET IDENTITY_INSERT [dbo].[KHACHTHUE] ON 

INSERT [dbo].[KHACHTHUE] ([MAKHACHTHUE], [CCCD], [HO], [TEN], [SDT], [NGAYSINH], [GIOITINH], [NGHENGHIEP], [QUEQUAN], [TRANGTHAI]) VALUES (1, N'052203005086', N'Nguyễn Trung', N'Khánh', N'0378277559 ', CAST(N'2003-08-18' AS Date), N'Nam', N'Sinh viên', N'Bình Định', 1)
INSERT [dbo].[KHACHTHUE] ([MAKHACHTHUE], [CCCD], [HO], [TEN], [SDT], [NGAYSINH], [GIOITINH], [NGHENGHIEP], [QUEQUAN], [TRANGTHAI]) VALUES (2, N'052203005286', N'Bùi Minh', N'Đức', N'0531478952 ', CAST(N'2003-11-10' AS Date), N'Nam', N'Sinh viên', N'Đồng Nai', 1)
INSERT [dbo].[KHACHTHUE] ([MAKHACHTHUE], [CCCD], [HO], [TEN], [SDT], [NGAYSINH], [GIOITINH], [NGHENGHIEP], [QUEQUAN], [TRANGTHAI]) VALUES (4, N'052203015287', N'Trần Tiến', N'Đạt', N'0272618448 ', CAST(N'2003-12-01' AS Date), N'Nam', N'Sinh viên', N'Đồng Nai', 1)
SET IDENTITY_INSERT [dbo].[KHACHTHUE] OFF
SET IDENTITY_INSERT [dbo].[LOAIPHONG] ON 

INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [TENLOAI], [CONOITHAT], [DONGIA]) VALUES (1, N'A', 1, 1000000.0000)
INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [TENLOAI], [CONOITHAT], [DONGIA]) VALUES (2, N'B', 0, 800000.0000)
INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [TENLOAI], [CONOITHAT], [DONGIA]) VALUES (3, N'C', 0, 600000.0000)
SET IDENTITY_INSERT [dbo].[LOAIPHONG] OFF
SET IDENTITY_INSERT [dbo].[NOIQUY] ON 

INSERT [dbo].[NOIQUY] ([MANOIQUY], [TENNOIQUY], [TIENPHAT]) VALUES (1, N'Không được vứt rác bữa bãi trong nhà trọ', 100000.0000)
INSERT [dbo].[NOIQUY] ([MANOIQUY], [TENNOIQUY], [TIENPHAT]) VALUES (2, N'Cấm gây ồn ào', 50000.0000)
SET IDENTITY_INSERT [dbo].[NOIQUY] OFF
INSERT [dbo].[PHONG] ([MAPHONG], [DIENTICH], [SLKHACHTHUETOIDA], [TANG], [DAY], [MALOAIPHONG], [TRANGTHAI]) VALUES (N'I01', 20, 4, 1, N'I', 1, N'Đã thuê')
INSERT [dbo].[PHONG] ([MAPHONG], [DIENTICH], [SLKHACHTHUETOIDA], [TANG], [DAY], [MALOAIPHONG], [TRANGTHAI]) VALUES (N'I02', 22, 6, 1, N'I', 1, N'Đã đặt cọc')
INSERT [dbo].[PHONG] ([MAPHONG], [DIENTICH], [SLKHACHTHUETOIDA], [TANG], [DAY], [MALOAIPHONG], [TRANGTHAI]) VALUES (N'I03', 22, 6, 1, N'I', 1, N'Trống')
INSERT [dbo].[QUYEN] ([MAQUYEN], [TENQUYEN]) VALUES (1, N'ADMIN')
INSERT [dbo].[QUYEN] ([MAQUYEN], [TENQUYEN]) VALUES (2, N'USER')
INSERT [dbo].[TAIKHOAN] ([TENDN], [MATKHAU], [TRANGTHAI], [MAPHONG], [MACHUTRO], [MAQUYEN]) VALUES (N'ADMIN', N'123456', 1, NULL, N'CT', 1)
INSERT [dbo].[TAIKHOAN] ([TENDN], [MATKHAU], [TRANGTHAI], [MAPHONG], [MACHUTRO], [MAQUYEN]) VALUES (N'PHONGI01', N'12345678', 1, N'I01', NULL, 2)
INSERT [dbo].[TAIKHOAN] ([TENDN], [MATKHAU], [TRANGTHAI], [MAPHONG], [MACHUTRO], [MAQUYEN]) VALUES (N'PHONGI02', N'1234', 0, N'I02', NULL, 2)
/****** Object:  Index [UK_BIENBAN_VIPHAM]    Script Date: 06/22/2024 2:48:50 PM ******/
ALTER TABLE [dbo].[BIENBAN_VIPHAM] ADD  CONSTRAINT [UK_BIENBAN_VIPHAM] UNIQUE NONCLUSTERED 
(
	[ID_CTTHUE] ASC,
	[MANOIQUY] ASC,
	[SOLAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_TENTIENNGHI]    Script Date: 06/22/2024 2:48:50 PM ******/
ALTER TABLE [dbo].[COSOVATCHAT] ADD  CONSTRAINT [UK_TENTIENNGHI] UNIQUE NONCLUSTERED 
(
	[TENTIENNGHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_CT_THUE]    Script Date: 06/22/2024 2:48:50 PM ******/
ALTER TABLE [dbo].[CT_THUE] ADD  CONSTRAINT [UK_CT_THUE] UNIQUE NONCLUSTERED 
(
	[MAKHACHTHUE] ASC,
	[MAPHONG] ASC,
	[NGAYTHUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_TENDICHVU]    Script Date: 06/22/2024 2:48:50 PM ******/
ALTER TABLE [dbo].[DICHVU] ADD  CONSTRAINT [UK_TENDICHVU] UNIQUE NONCLUSTERED 
(
	[TENDICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_NGAYLAP]    Script Date: 06/22/2024 2:48:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_NGAYLAP] ON [dbo].[HOPDONG]
(
	[NGAYLAP] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_TENLOAI]    Script Date: 06/22/2024 2:48:50 PM ******/
ALTER TABLE [dbo].[LOAIPHONG] ADD  CONSTRAINT [UK_TENLOAI] UNIQUE NONCLUSTERED 
(
	[TENLOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_TAIKHOAN_MAPHONG]    Script Date: 06/22/2024 2:48:50 PM ******/
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [UK_TAIKHOAN_MAPHONG] UNIQUE NONCLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BIENBAN_VIPHAM]  WITH CHECK ADD  CONSTRAINT [FK_BIENBAN_VIPHAM_CT_THUE] FOREIGN KEY([ID_CTTHUE])
REFERENCES [dbo].[CT_THUE] ([ID_CTTHUE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BIENBAN_VIPHAM] CHECK CONSTRAINT [FK_BIENBAN_VIPHAM_CT_THUE]
GO
ALTER TABLE [dbo].[BIENBAN_VIPHAM]  WITH CHECK ADD  CONSTRAINT [FK_BIENBAN_VIPHAM_NOIQUY] FOREIGN KEY([MANOIQUY])
REFERENCES [dbo].[NOIQUY] ([MANOIQUY])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BIENBAN_VIPHAM] CHECK CONSTRAINT [FK_BIENBAN_VIPHAM_NOIQUY]
GO
ALTER TABLE [dbo].[CSVC_PHONG]  WITH CHECK ADD  CONSTRAINT [FK_TIENNGHI_PHONG_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CSVC_PHONG] CHECK CONSTRAINT [FK_TIENNGHI_PHONG_PHONG]
GO
ALTER TABLE [dbo].[CSVC_PHONG]  WITH CHECK ADD  CONSTRAINT [FK_TIENNGHI_PHONG_TIENNGHI] FOREIGN KEY([MATIENNGHI])
REFERENCES [dbo].[COSOVATCHAT] ([MATIENNGHI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CSVC_PHONG] CHECK CONSTRAINT [FK_TIENNGHI_PHONG_TIENNGHI]
GO
ALTER TABLE [dbo].[CT_DICHVU]  WITH CHECK ADD  CONSTRAINT [FK_CT_DICHVU_DICHVU] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_DICHVU] CHECK CONSTRAINT [FK_CT_DICHVU_DICHVU]
GO
ALTER TABLE [dbo].[CT_DICHVU]  WITH CHECK ADD  CONSTRAINT [FK_CT_DICHVU_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_DICHVU] CHECK CONSTRAINT [FK_CT_DICHVU_PHONG]
GO
ALTER TABLE [dbo].[CT_DIENNUOC]  WITH CHECK ADD  CONSTRAINT [FK_CT_DIENNUOC_DIENNUOC] FOREIGN KEY([ID_DIENNUOC])
REFERENCES [dbo].[DIENNUOC] ([ID_DIENNUOC])
GO
ALTER TABLE [dbo].[CT_DIENNUOC] CHECK CONSTRAINT [FK_CT_DIENNUOC_DIENNUOC]
GO
ALTER TABLE [dbo].[CT_DIENNUOC]  WITH CHECK ADD  CONSTRAINT [FK_CT_DIENNUOC_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[CT_DIENNUOC] CHECK CONSTRAINT [FK_CT_DIENNUOC_PHONG]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_HOADON] FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADON] ([MAHOADON])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_HOADON]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_PHONG]
GO
ALTER TABLE [dbo].[CT_SUACHUA]  WITH CHECK ADD  CONSTRAINT [FK_CT_SUACHUA_CT_THUE] FOREIGN KEY([ID_CTTHUE])
REFERENCES [dbo].[CT_THUE] ([ID_CTTHUE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_SUACHUA] CHECK CONSTRAINT [FK_CT_SUACHUA_CT_THUE]
GO
ALTER TABLE [dbo].[CT_SUACHUA]  WITH CHECK ADD  CONSTRAINT [FK_CT_SUACHUA_TIENNGHI] FOREIGN KEY([MATIENNGHI])
REFERENCES [dbo].[COSOVATCHAT] ([MATIENNGHI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_SUACHUA] CHECK CONSTRAINT [FK_CT_SUACHUA_TIENNGHI]
GO
ALTER TABLE [dbo].[CT_THUE]  WITH CHECK ADD  CONSTRAINT [FK_CT_THUE_KHACHTHUE] FOREIGN KEY([MAKHACHTHUE])
REFERENCES [dbo].[KHACHTHUE] ([MAKHACHTHUE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_THUE] CHECK CONSTRAINT [FK_CT_THUE_KHACHTHUE]
GO
ALTER TABLE [dbo].[CT_THUE]  WITH CHECK ADD  CONSTRAINT [FK_CT_THUE_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_THUE] CHECK CONSTRAINT [FK_CT_THUE_PHONG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_PHONG]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_KHACHTHUE] FOREIGN KEY([MAKHACHTHUE])
REFERENCES [dbo].[KHACHTHUE] ([MAKHACHTHUE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_KHACHTHUE]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_PHONG]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_LOAIPHONG] FOREIGN KEY([MALOAIPHONG])
REFERENCES [dbo].[LOAIPHONG] ([MALOAIPHONG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_LOAIPHONG]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_CHUTRO] FOREIGN KEY([MACHUTRO])
REFERENCES [dbo].[CHUTRO] ([MACHUTRO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_CHUTRO]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_PHONG]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_QUYEN] FOREIGN KEY([MAQUYEN])
REFERENCES [dbo].[QUYEN] ([MAQUYEN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_QUYEN]
GO
ALTER TABLE [dbo].[BIENBAN_VIPHAM]  WITH CHECK ADD  CONSTRAINT [CK_BIENBAN_VIPHAM_SOLAN] CHECK  (([SOLAN]>(0)))
GO
ALTER TABLE [dbo].[BIENBAN_VIPHAM] CHECK CONSTRAINT [CK_BIENBAN_VIPHAM_SOLAN]
GO
ALTER TABLE [dbo].[BIENBAN_VIPHAM]  WITH CHECK ADD  CONSTRAINT [CK_NGAYVIPHAM] CHECK  (([NGAYVIPHAM]<=getdate()))
GO
ALTER TABLE [dbo].[BIENBAN_VIPHAM] CHECK CONSTRAINT [CK_NGAYVIPHAM]
GO
ALTER TABLE [dbo].[CHUTRO]  WITH CHECK ADD  CONSTRAINT [CK_GIOITINH] CHECK  (([GIOITINH]=N'Nữ' OR [GIOITINH]='Nam'))
GO
ALTER TABLE [dbo].[CHUTRO] CHECK CONSTRAINT [CK_GIOITINH]
GO
ALTER TABLE [dbo].[CSVC_PHONG]  WITH CHECK ADD  CONSTRAINT [CK_CSVC_PHONG_TRANGTHAI] CHECK  (([TRANGTHAI]=N'Tốt' OR [TRANGTHAI]=N'Đang sửa chữa' OR [TRANGTHAI]=N'Hư'))
GO
ALTER TABLE [dbo].[CSVC_PHONG] CHECK CONSTRAINT [CK_CSVC_PHONG_TRANGTHAI]
GO
ALTER TABLE [dbo].[CT_DICHVU]  WITH CHECK ADD  CONSTRAINT [CK_CT_DICHVU_NAM] CHECK  (([NAM]<=datepart(year,getdate())))
GO
ALTER TABLE [dbo].[CT_DICHVU] CHECK CONSTRAINT [CK_CT_DICHVU_NAM]
GO
ALTER TABLE [dbo].[CT_DICHVU]  WITH CHECK ADD  CONSTRAINT [CK_CT_DICHVU_THANG] CHECK  (([THANG]>=(1) AND [THANG]<=(12)))
GO
ALTER TABLE [dbo].[CT_DICHVU] CHECK CONSTRAINT [CK_CT_DICHVU_THANG]
GO
ALTER TABLE [dbo].[CT_DIENNUOC]  WITH CHECK ADD  CONSTRAINT [CK_CT_DIENNUOC_CHISO_DONGIA] CHECK  (([CHISODAU]>=(0) AND [CHISOCUOI]>(0) AND [DONGIA]>(0)))
GO
ALTER TABLE [dbo].[CT_DIENNUOC] CHECK CONSTRAINT [CK_CT_DIENNUOC_CHISO_DONGIA]
GO
ALTER TABLE [dbo].[CT_DIENNUOC]  WITH CHECK ADD  CONSTRAINT [CK_CT_DIENNUOC_NAM] CHECK  (([NAM]<=datepart(year,getdate())))
GO
ALTER TABLE [dbo].[CT_DIENNUOC] CHECK CONSTRAINT [CK_CT_DIENNUOC_NAM]
GO
ALTER TABLE [dbo].[CT_DIENNUOC]  WITH CHECK ADD  CONSTRAINT [CK_CT_DIENNUOC_THANG] CHECK  (([THANG]>=(1) AND [THANG]<=(12)))
GO
ALTER TABLE [dbo].[CT_DIENNUOC] CHECK CONSTRAINT [CK_CT_DIENNUOC_THANG]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [CK_CT_HOADON_GETDATE()] CHECK  (([NGAYDONG]<=getdate()))
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [CK_CT_HOADON_GETDATE()]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [CK_CT_HOADON_SOTIENDONG] CHECK  (([SOTIENDONG]>=(0)))
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [CK_CT_HOADON_SOTIENDONG]
GO
ALTER TABLE [dbo].[CT_SUACHUA]  WITH CHECK ADD  CONSTRAINT [CK_CT_SUACHUA_NGAYTHONGBAO] CHECK  (([NGAYTHONGBAO]<=getdate()))
GO
ALTER TABLE [dbo].[CT_SUACHUA] CHECK CONSTRAINT [CK_CT_SUACHUA_NGAYTHONGBAO]
GO
ALTER TABLE [dbo].[CT_SUACHUA]  WITH CHECK ADD  CONSTRAINT [CK_CT_SUACHUA_TIENSUACHUA] CHECK  (([TIENSUACHUA]>=(0)))
GO
ALTER TABLE [dbo].[CT_SUACHUA] CHECK CONSTRAINT [CK_CT_SUACHUA_TIENSUACHUA]
GO
ALTER TABLE [dbo].[CT_THUE]  WITH CHECK ADD  CONSTRAINT [CK_CT_THUE_NGAYTHUE_NGAYTRA] CHECK  (([NGAYTHUE]<=getdate() AND [NGAYTRA]<=getdate() AND [NGAYTHUE]<=[NGAYTRA]))
GO
ALTER TABLE [dbo].[CT_THUE] CHECK CONSTRAINT [CK_CT_THUE_NGAYTHUE_NGAYTRA]
GO
ALTER TABLE [dbo].[DICHVU]  WITH CHECK ADD  CONSTRAINT [CK_DICHVU_GIATIEN] CHECK  (([GIATIEN]>(0)))
GO
ALTER TABLE [dbo].[DICHVU] CHECK CONSTRAINT [CK_DICHVU_GIATIEN]
GO
ALTER TABLE [dbo].[DIENNUOC]  WITH CHECK ADD  CONSTRAINT [CK_DONGIA] CHECK  (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[DIENNUOC] CHECK CONSTRAINT [CK_DONGIA]
GO
ALTER TABLE [dbo].[DIENNUOC]  WITH CHECK ADD  CONSTRAINT [CK_DVT] CHECK  (([DVT]='m3' OR [DVT]='kwh'))
GO
ALTER TABLE [dbo].[DIENNUOC] CHECK CONSTRAINT [CK_DVT]
GO
ALTER TABLE [dbo].[DIENNUOC]  WITH CHECK ADD  CONSTRAINT [CK_TENLOAI] CHECK  (([TENLOAI]=N'Nước' OR [TENLOAI]=N'Điện'))
GO
ALTER TABLE [dbo].[DIENNUOC] CHECK CONSTRAINT [CK_TENLOAI]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [CK_HOADON] CHECK  (([TIENDICHVU]>=(0) AND [TIENSUACHUA]>=(0) AND [TIENPHAT]>=(0) AND [NOTHANGTRUOC]>=(0) AND [TONGTIENDADONG]>=(0)))
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [CK_HOADON]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [CK_HOADON_NGAYLAP] CHECK  (([NGAYLAP]<=getdate()))
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [CK_HOADON_NGAYLAP]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [CK_TONGTIENDADONG] CHECK  (([TONGTIENDADONG]<=(((([TIENDICHVU]+[TIENPHONG])+[TIENSUACHUA])+[TIENPHAT])+[NOTHANGTRUOC])))
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [CK_TONGTIENDADONG]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [CK_HOPDONG_NGAYLAP_NGAYDBTHUE_NGAYHETHAN] CHECK  (([NGAYLAP]<=getdate() AND [NGAYLAP]<=[NGAYBDTHUE] AND [NGAYBDTHUE]<[NGAYHETHAN]))
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [CK_HOPDONG_NGAYLAP_NGAYDBTHUE_NGAYHETHAN]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [CK_HOPDONG_SLKHACHTHUE] CHECK  (([SLKHACHTHUE]>(0)))
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [CK_HOPDONG_SLKHACHTHUE]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [CK_HOPDONG_TRANGTHAIHD] CHECK  (([TRANGTHAIHD]=N'Đang hiệu lực' OR [TRANGTHAIHD]=N'Đã hết hạn' OR [TRANGTHAIHD]=N'Đã hủy'))
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [CK_HOPDONG_TRANGTHAIHD]
GO
ALTER TABLE [dbo].[KHACHTHUE]  WITH CHECK ADD  CONSTRAINT [CK_KHACHTHUE_GIOITINH] CHECK  (([GIOITINH]=N'Nam' OR [GIOITINH]=N'Nữ'))
GO
ALTER TABLE [dbo].[KHACHTHUE] CHECK CONSTRAINT [CK_KHACHTHUE_GIOITINH]
GO
ALTER TABLE [dbo].[KHACHTHUE]  WITH CHECK ADD  CONSTRAINT [CK_KHACHTHUE_NGAYSINH] CHECK  (([NGAYSINH]<=getdate()))
GO
ALTER TABLE [dbo].[KHACHTHUE] CHECK CONSTRAINT [CK_KHACHTHUE_NGAYSINH]
GO
ALTER TABLE [dbo].[LOAIPHONG]  WITH CHECK ADD  CONSTRAINT [CK_LOAIPHONG_DONGIA] CHECK  (([DONGIA]>(0)))
GO
ALTER TABLE [dbo].[LOAIPHONG] CHECK CONSTRAINT [CK_LOAIPHONG_DONGIA]
GO
ALTER TABLE [dbo].[NOIQUY]  WITH CHECK ADD  CONSTRAINT [CK_NOIQUY_TIENPHAT] CHECK  (([TIENPHAT]>=(0)))
GO
ALTER TABLE [dbo].[NOIQUY] CHECK CONSTRAINT [CK_NOIQUY_TIENPHAT]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [CK_PHONG_DIENTICH_SLKHACHTHUETOIDA_TANG] CHECK  (([DIENTICH]>(0) AND [SLKHACHTHUETOIDA]>(0) AND [TANG]>(0)))
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [CK_PHONG_DIENTICH_SLKHACHTHUETOIDA_TANG]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [CK_TRANGTHAI_PHONG] CHECK  (([TRANGTHAI]=N'Đã thuê' OR [TRANGTHAI]=N'Đã đặt cọc' OR [TRANGTHAI]=N'Trống' OR [TRANGTHAI]=N'Bảo trì'))
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [CK_TRANGTHAI_PHONG]
GO
/****** Object:  StoredProcedure [dbo].[SP_DANH_SACH_KHACH_THUE]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANH_SACH_KHACH_THUE]
@MAPHONG VARCHAR(4)
AS
BEGIN
	IF EXISTS (SELECT * FROM PHONG WHERE MAPHONG = @MAPHONG AND TRANGTHAI = N'Đã thuê')
		BEGIN
			
			DECLARE @NGAYTHUE date = (SELECT NGAYBDTHUE FROM HOPDONG
									WHERE MAPHONG = @MAPHONG AND TRANGTHAIHD = N'Đang hiệu lực')

			SELECT * FROM KHACHTHUE
			WHERE MAKHACHTHUE IN (SELECT MAKHACHTHUE FROM CT_THUE 
								WHERE MAPHONG = @MAPHONG AND NGAYTHUE = @NGAYTHUE AND NGAYTRA IS NULL)
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DANH_SACH_KHACH_THUE_VI_PHAM]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANH_SACH_KHACH_THUE_VI_PHAM]
@MAPHONG VARCHAR(4), @THANG INT, @NAM INT
AS
BEGIN
	IF EXISTS (SELECT * FROM PHONG WHERE MAPHONG = @MAPHONG AND TRANGTHAI = N'Đã thuê')
		BEGIN
			
			DECLARE @NGAYTHUE date = (SELECT NGAYBDTHUE FROM HOPDONG
									WHERE MAPHONG = @MAPHONG AND TRANGTHAIHD = N'Đang hiệu lực')

			SELECT *
			FROM (
				SELECT * FROM KHACHTHUE
				WHERE MAKHACHTHUE IN (SELECT MAKHACHTHUE FROM CT_THUE 
										WHERE MAPHONG = @MAPHONG AND NGAYTHUE = @NGAYTHUE)
			) KT
			INNER JOIN 
			(
				SELECT MAKHACHTHUE, TENNOIQUY, TIENPHAT, NGAYVIPHAM
				FROM CT_THUE CT
				INNER JOIN (
					SELECT ID_CTTHUE, TENNOIQUY, TIENPHAT, NGAYVIPHAM
					FROM NOIQUY NQ
					INNER JOIN 
						(SELECT ID_CTTHUE, MANOIQUY, NGAYVIPHAM FROM BIENBAN_VIPHAM
						WHERE  YEAR(NGAYVIPHAM) = @NAM AND MONTH(NGAYVIPHAM) = @THANG
						) BB
					ON NQ.MANOIQUY = BB.MANOIQUY
				) TMP
				ON TMP.ID_CTTHUE = CT.ID_CTTHUE
			) VP
			ON KT.MAKHACHTHUE = VP.MAKHACHTHUE

		END
END

GO
/****** Object:  StoredProcedure [dbo].[SP_InsertBienBanViPham]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_InsertBienBanViPham]
@idctthue int, @manq int, @solan int, @ngayvipham date
AS
BEGIN
	DECLARE @ID_CTTHUE INT
	DECLARE @MANOIQUY INT
	SELECT @ID_CTTHUE = ID_CTTHUE FROM CT_THUE WHERE ID_CTTHUE = @idctthue
	SELECT @MANOIQUY = MANOIQUY FROM NOIQUY WHERE MANOIQUY = @manq
	INSERT INTO BIENBAN_VIPHAM(ID_CTTHUE, MANOIQUY, SOLAN, NGAYVIPHAM)
	VALUES (@idctthue, @manq, @solan, @ngayvipham)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertCT_HOADON]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertCT_HOADON]
(
@MAHOADON nchar(14),
@MAPHONG varchar(4),
@NGAYDONG datetime,
@SOTIENDONG money
)
AS
BEGIN


INSERT INTO [dbo].[CT_HOADON]
           ([MAHOADON]
           ,[MAPHONG]
           ,[NGAYDONG]
           ,[SOTIENDONG])
     VALUES
        (@MAHOADON, @MAPHONG, @NGAYDONG, @SOTIENDONG)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertCTSUACHUA]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_InsertCTSUACHUA]
@idctthue int, @matn int, @ngaytb datetime, @lydo ntext, @sotiensua money
AS
BEGIN
	DECLARE @ID_CTTHUE INT
	DECLARE @MATIENNGHI INT
	SELECT @ID_CTTHUE = ID_CTTHUE FROM CT_THUE WHERE ID_CTTHUE = @idctthue
	SELECT @MATIENNGHI = MATIENNGHI FROM COSOVATCHAT WHERE MATIENNGHI = @matn
	INSERT INTO CT_SUACHUA(ID_CTTHUE, MATIENNGHI, NGAYTHONGBAO, LYDO, TIENSUACHUA)
	VALUES (@ID_CTTHUE, @MATIENNGHI, @ngaytb, @lydo, @sotiensua)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertCTThue]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_InsertCTThue]
@makt int, @maph varchar(4), @ngaythue date, @ngaytra date = NULL
AS
BEGIN
		DECLARE @MAPHONG varchar(4)
		DECLARE @MAKHACHTHUE int
		SELECT @MAPHONG = MAPHONG FROM PHONG WHERE MAPHONG = @maph
		SELECT @MAKHACHTHUE = MAKHACHTHUE FROM KHACHTHUE WHERE MAKHACHTHUE = @makt
		INSERT INTO CT_THUE (MAKHACHTHUE, MAPHONG, NGAYTHUE, NGAYTRA) 
		VALUES(@MAKHACHTHUE, @MAPHONG, @ngaythue, @ngaytra)
		COMMIT TRANSACTION
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertDichVu]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_InsertDichVu]
@madichvu varchar(10), @tendv varchar(50), @giatien money
AS
BEGIN
	DECLARE @MADV varchar(10)
	SELECT @MADV = MADV FROM DICHVU WHERE MADV = @madichvu
	INSERT INTO DICHVU(MADV, TENDICHVU, GIATIEN)
	VALUES (@MADV, @tendv, @giatien)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertHopDong]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_InsertHopDong]
@mahd varchar(8), @nd nvarchar(100), @ngaylap date, @ngaybdthue date, @ngayhethan date, @tiendatcoc money, @soluong int, @trangthai nvarchar(20), @maph varchar(4), @makt int
AS
BEGIN
	DECLARE @MAPHONG varchar(4)
	DECLARE @MAKHACHTHUE varchar(8) 
	SELECT @MAPHONG = MAPHONG FROM PHONG WHERE MAPHONG = @maph
	SELECT @MAKHACHTHUE = MAKHACHTHUE FROM KHACHTHUE WHERE MAKHACHTHUE = @makt
	INSERT INTO HOPDONG(MAHOPDONG, NOIDUNG, NGAYLAP, NGAYBDTHUE, NGAYHETHAN, TIENDATCOC, SLKHACHTHUE, TRANGTHAIHD, MAPHONG, MAKHACHTHUE)
	VALUES (@mahd, @nd, @ngaylap, @ngaybdthue, @ngayhethan, @tiendatcoc, @soluong, @trangthai, @MAPHONG, @MAKHACHTHUE)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertKhachThue]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_InsertKhachThue]
@CCCD NCHAR(12) = NULL, @HO NVARCHAR(50), @TEN NVARCHAR(10), @SDT NCHAR(11), @NGAYSINH DATE,
 @GIOITINH NCHAR(3), @NGHENGHIEP NVARCHAR(20), @QUEQUAN NVARCHAR(50)
AS
BEGIN
	INSERT INTO KHACHTHUE(CCCD, HO, TEN, SDT, NGAYSINH, GIOITINH, NGHENGHIEP, QUEQUAN, TRANGTHAI)
	VALUES(@CCCD, @HO, @TEN, @SDT, @NGAYSINH, @GIOITINH, @NGHENGHIEP, @QUEQUAN, 1)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertLoaiPhong]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_InsertLoaiPhong]
	@TENLOAI NVARCHAR(30), @CONOITHAT BIT, @DONGIA MONEY
AS
BEGIN
	INSERT INTO LOAIPHONG(TENLOAI, CONOITHAT, DONGIA)
	VALUES(@TENLOAI, @CONOITHAT, @DONGIA)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertPhong]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_InsertPhong]
	@MAPHONG VARCHAR(4), @DIENTICH FLOAT, @SLKTTD INT, @TANG INT = NULL, @DAY VARCHAR(2) = NULL, @LOAIPHONG CHAR(1)
AS
BEGIN	
	DECLARE @MALP INT
	SELECT @MALP = MALOAIPHONG FROM LOAIPHONG WHERE TENLOAI = @LOAIPHONG
	INSERT INTO PHONG(MAPHONG, DIENTICH, SLKHACHTHUETOIDA, TANG, DAY, MALOAIPHONG, TRANGTHAI)
	VALUES(@MAPHONG, @DIENTICH, @SLKTTD, @TANG, @DAY, @MALP, N'Trống')
		
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAPHOADON]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAPHOADON]
 @MAPHONG VARCHAR(4), @THANGCUOI BIT = 0
AS
BEGIN
	SET DATEFORMAT DMY
	IF (@THANGCUOI = 0 AND EXISTS(SELECT * FROM HOADON WHERE MONTH(GETDATE()) = MONTH(NGAYLAP)))
	BEGIN
		RETURN
	END
	DECLARE @TUNGAY DATETIME, @DENNGAY DATETIME
			SELECT @TUNGAY = ISNULL(MAX(NGAYLAP), DATEADD(MONTH, -1, GETDATE())) FROM HOADON WHERE MAPHONG = @MAPHONG
			IF DATEDIFF(MONTH, @TUNGAY, GETDATE()) > 1 RETURN
			SET @DENNGAY = DATEADD(SECOND, (24*60*60) -1, CONVERT(DATETIME, EOMONTH(GETDATE(), -1)))
	
	SELECT ID_CTTHUE
	INTO #ID_CTTHUE
	FROM CT_THUE WHERE MAPHONG = @MAPHONG AND NGAYTHUE < @DENNGAY AND (NGAYTRA IS NULL OR NGAYTRA BETWEEN @TUNGAY AND @DENNGAY)

	DECLARE @TIENDICHVU MONEY, @TIENPHONG MONEY, @TIENSUACHUA MONEY, @TIENPHAT MONEY, @TIENDIEN MONEY, @TIENNUOC MONEY
	SELECT @TIENSUACHUA = SUM(TIENSUACHUA)
	FROM CT_SUACHUA
	WHERE ID_CTTHUE IN (SELECT * FROM #ID_CTTHUE) AND (NGAYTHONGBAO BETWEEN @TUNGAY AND @DENNGAY)
	
	SELECT @TIENPHAT = SUM(TIENPHAT)
	FROM (
		SELECT MANOIQUY
		FROM BIENBAN_VIPHAM
		WHERE ID_CTTHUE IN (SELECT * FROM #ID_CTTHUE) AND (NGAYVIPHAM BETWEEN @TUNGAY AND @DENNGAY)
		) BB INNER JOIN NOIQUY ON BB.MANOIQUY = NOIQUY.MANOIQUY

	SELECT @TIENDICHVU = SUM(ISNULL(SOLUONG, 1) * DONGIA)
	FROM CT_DICHVU
	WHERE MAPHONG = @MAPHONG AND THANG = MONTH(@TUNGAY) AND NAM = YEAR(@TUNGAY)

	SELECT @TIENDIEN = (CHISOCUOI - CHISODAU) * DONGIA
	FROM CT_DIENNUOC
	WHERE MAPHONG = @MAPHONG AND ID_DIENNUOC = 1 AND THANG = MONTH(@TUNGAY) AND NAM = YEAR(@TUNGAY)

	SELECT @TIENNUOC = (CHISOCUOI - CHISODAU) * DONGIA
	FROM CT_DIENNUOC
	WHERE MAPHONG = @MAPHONG AND ID_DIENNUOC = 2 AND THANG = MONTH(@TUNGAY) AND NAM = YEAR(@TUNGAY)

	SELECT @TIENPHONG = DONGIA
	FROM LOAIPHONG
	WHERE MALOAIPHONG = (SELECT MALOAIPHONG FROM PHONG WHERE MAPHONG = @MAPHONG)

	DECLARE @MAHOADON VARCHAR(14)

	SET @MAHOADON = 'HD' + @MAPHONG + '_' + CAST(DAY(GETDATE()) AS VARCHAR(2)) + RIGHT('0' + CAST(MONTH(GETDATE()) AS VARCHAR(2)), 2) + CAST(YEAR(GETDATE()) AS VARCHAR(4))

	DECLARE @MAHOADON_OLD VARCHAR(14)
	SELECT @MAHOADON_OLD = MAHOADON
	FROM HOADON
	WHERE MAPHONG = @MAPHONG AND (NGAYLAP BETWEEN @TUNGAY AND @DENNGAY)

	IF @MAHOADON_OLD IS NOT NULL
		BEGIN
			DECLARE @NOTHANGTRUOC MONEY
			SELECT @NOTHANGTRUOC = (TIENDIEN + TIENNUOC + TIENDICHVU + TIENSUACHUA + TIENPHAT + TIENPHONG + NOTHANGTRUOC - TONGTIENDADONG)
			FROM HOADON
			WHERE MAHOADON = @MAHOADON_OLD
			INSERT INTO HOADON(MAHOADON, NGAYLAP, TIENDIEN, TIENNUOC,TIENDICHVU, TIENSUACHUA, TIENPHAT, TIENPHONG, NOTHANGTRUOC, MAPHONG)
			VALUES (@MAHOADON, GETDATE(), ISNULL(@TIENDIEN, 0), ISNULL(@TIENNUOC, 0), ISNULL(@TIENDICHVU, 0), ISNULL(@TIENSUACHUA, 0), ISNULL(@TIENPHAT, 0), ISNULL(@TIENPHONG, 0), @NOTHANGTRUOC, @MAPHONG)
		END
	ELSE
		BEGIN
			INSERT INTO HOADON(MAHOADON, NGAYLAP, TIENDIEN, TIENNUOC, TIENDICHVU, TIENSUACHUA, TIENPHAT, TIENPHONG, MAPHONG)
			VALUES (@MAHOADON, GETDATE(), ISNULL(@TIENDIEN, 0), ISNULL(@TIENNUOC, 0), ISNULL(@TIENDICHVU, 0), ISNULL(@TIENSUACHUA, 0), ISNULL(@TIENPHAT, 0), ISNULL(@TIENPHONG, 0), @MAPHONG)
		END
		IF @THANGCUOI = 1
		BEGIN
			DECLARE @TIENDATCOC MONEY 
			DECLARE @SOTHANGKYTRONGHD INT, @SOTHANGOTHUCTE INT, @NGAYKYHD DATE, @NGAYHETHAN DATE
			SELECT @NGAYKYHD = NGAYLAP, @NGAYHETHAN = NGAYHETHAN FROM HOPDONG WHERE MAPHONG = @MAPHONG AND TRANGTHAIHD = N'Đang hiệu lực'
			SET @SOTHANGKYTRONGHD = DATEDIFF(MONTH, @NGAYKYHD, @NGAYHETHAN)
			SET @SOTHANGOTHUCTE = DATEDIFF(MONTH, @NGAYKYHD, @DENNGAY)
			IF (@SOTHANGOTHUCTE > @SOTHANGKYTRONGHD)
			BEGIN
				SET @TIENDATCOC = (SELECT TIENDATCOC FROM HOPDONG WHERE MAPHONG = @MAPHONG AND TRANGTHAIHD = N'Đang hiệu lực')
				INSERT INTO CT_HOADON(MAHOADON, MAPHONG, NGAYDONG, SOTIENDONG)
				VALUES(@MAHOADON, @MAPHONG, @TUNGAY, @TIENDATCOC)
			END
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ResetPassword]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ResetPassword]
    @LGNAME VARCHAR(50),
    @NEWPASS VARCHAR(50)
AS
BEGIN
    -- Bắt đầu một transaction để đảm bảo tính toàn vẹn dữ liệu
    BEGIN TRANSACTION

    BEGIN TRY
        -- Thay đổi mật khẩu của login
        DECLARE @sql NVARCHAR(MAX)
        SET @sql = N'ALTER LOGIN ' + QUOTENAME(@LGNAME) + ' WITH PASSWORD = ''' + @NEWPASS + ''';'

        -- Thực thi câu lệnh động
        EXEC sp_executesql @sql;

        -- Kiểm tra xem login có tồn tại trong bảng TAIKHOAN hay không
        IF EXISTS (SELECT 1 FROM TAIKHOAN WHERE TENDN = @LGNAME)
        BEGIN
            -- Cập nhật mật khẩu mới trong bảng TAIKHOAN
            UPDATE TAIKHOAN
            SET MATKHAU = @NEWPASS
            WHERE TENDN = @LGNAME;
        END

        -- Hoàn tất transaction
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- Nếu có lỗi, rollback transaction
        ROLLBACK TRANSACTION;

        -- Trả về mã lỗi và thông báo lỗi
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RestoreDatabase]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RestoreDatabase]
    @DatabaseName NVARCHAR(128),
    @BackupFilePath NVARCHAR(500)
AS
BEGIN
    -- Kiểm tra xem cơ sở dữ liệu đã tồn tại hay chưa
    IF EXISTS (SELECT name FROM sys.databases WHERE name = @DatabaseName)
    BEGIN
        PRINT 'Cơ sở dữ liệu đã tồn tại. Không thể khôi phục.'
        RETURN;
    END

    -- Thực hiện lệnh khôi phục
    DECLARE @SqlCmd NVARCHAR(1000);
    SET @SqlCmd = 'RESTORE DATABASE ' + QUOTENAME(@DatabaseName) + ' FROM DISK = ''' + @BackupFilePath + '''';
    EXEC sp_executesql @SqlCmd;
    
    PRINT 'Cơ sở dữ liệu ' + @DatabaseName + ' đã được khôi phục thành công từ tập tin ' + @BackupFilePath + '.';
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TaoLogin]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TaoLogin]
	@LGNAME VARCHAR(50),
	@PASS VARCHAR(50),
	@USERNAME VARCHAR(50),
	@ROLE VARCHAR(50)
AS
BEGIN
  DECLARE @RET INT
  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS,'QUANLYPHONGTRO'                     

  IF (@RET = 1)  -- LOGIN NAME BI TRUNG
  BEGIN
     RETURN 1
  END
  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
  IF (@RET = 1)  -- USER  NAME BI TRUNG
  BEGIN
       EXEC SP_DROPLOGIN @LGNAME
       RETURN 2
  END
  EXEC sp_addrolemember @ROLE, @USERNAME

  IF @ROLE= 'CHUTRO'
	BEGIN
		EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
		-- Insert into TAIKHOAN table
		IF (NOT EXISTS(SELECT 1 FROM TAIKHOAN WHERE TENDN = @LGNAME))
			BEGIN
				INSERT INTO TAIKHOAN (TENDN, MATKHAU, TRANGTHAI, MACHUTRO, MAQUYEN)
				VALUES (@LGNAME, @PASS, 0, @USERNAME, 1)
			END
		
	END
  ELSE
	BEGIN
		IF (NOT EXISTS(SELECT 1 FROM TAIKHOAN WHERE TENDN = @LGNAME))
		BEGIN
			INSERT INTO TAIKHOAN (TENDN, MATKHAU, TRANGTHAI, MAPHONG, MAQUYEN)
			VALUES (@LGNAME, @PASS, 0, @USERNAME, 2)
		END	
	END
END

GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_CT_DIENNUOC]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_CT_DIENNUOC]
@ID_DIENNUOC INT, @MAPHONG VARCHAR(4), @THANG INT, @NAM INT, @CHISODAU INT, @CHISOCUOI INT
AS
BEGIN
	DECLARE @DONGIA INT  = (SELECT DONGIA FROM DIENNUOC WHERE ID = @ID_DIENNUOC)

	INSERT INTO CT_DIENNUOC
	VALUES (@ID_DIENNUOC, @MAPHONG, @THANG, @NAM, @CHISODAU, @CHISOCUOI, @DONGIA)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateBienBanViPham]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UpdateBienBanViPham]
@id int, @idctthue int, @manq int, @solan int, @ngayvipham date
AS
BEGIN
	DECLARE @ID_CTTHUE INT
	DECLARE @MANOIQUY INT
	SELECT @ID_CTTHUE = ID_CTTHUE FROM CT_THUE WHERE ID_CTTHUE = @idctthue
	SELECT @MANOIQUY = MANOIQUY FROM NOIQUY WHERE MANOIQUY = @manq
	IF (EXISTS(SELECT 1 FROM BIENBAN_VIPHAM WHERE ID_BBVP = @id))
	BEGIN
		UPDATE BIENBAN_VIPHAM
		SET ID_CTTHUE = @ID_CTTHUE,
		MANOIQUY = @MANOIQUY,
		SOLAN = @solan,
		NGAYVIPHAM = @ngayvipham
		WHERE ID_BBVP = @id
	END
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateCT_HOADON]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateCT_HOADON]
(
@MAHOADON nchar(14),
@MAPHONG varchar(4),
@NGAYDONG datetime,
@SOTIENDONG money
)
AS
BEGIN
   IF (EXISTS(SELECT 1 FROM CT_HOADON WHERE MAHOADON = @MAHOADON AND MAPHONG = @MAPHONG))
   BEGIN
	UPDATE CT_HOADON
	SET NGAYDONG = @NGAYDONG,
	SOTIENDONG = @SOTIENDONG
	WHERE MAHOADON = @MAHOADON AND MAPHONG = @MAPHONG
   END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateCTDichVu]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UpdateCTDichVu]
@maph varchar(4), @madv varchar(10), @thang int, @nam int, @soluong int, @dongia money
AS
BEGIN
	DECLARE @MAPHONG varchar(4)
	DECLARE @MADICHVU varchar(10)
	SELECT @MAPHONG = MAPHONG FROM PHONG WHERE MAPHONG = @maph
	SELECT @MADICHVU = MADV FROM DICHVU WHERE MADV = @madv
	IF (EXISTS(SELECT 1 FROM CT_DICHVU WHERE MAPHONG = @maph AND MADV = @madv AND THANG = @thang AND NAM = @nam))
	BEGIN
		UPDATE CT_DICHVU
		SET SOLUONG = @soluong,
		DONGIA = @dongia
		WHERE MAPHONG = @maph AND MADV = @madv AND THANG = @thang AND NAM = @nam
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateCTSUACHUA]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UpdateCTSUACHUA]
@idctthue int, @matn int, @ngaytb datetime, @lydo ntext, @sotiensua money
AS
BEGIN
	DECLARE @ID_CTTHUE INT
	DECLARE @MATIENNGHI INT
	SELECT @ID_CTTHUE = ID_CTTHUE FROM CT_THUE WHERE ID_CTTHUE = @idctthue
	SELECT @MATIENNGHI = MATIENNGHI FROM COSOVATCHAT WHERE MATIENNGHI = @matn
	IF (EXISTS(SELECT 1 FROM CT_SUACHUA WHERE ID_CTTHUE = @idctthue AND MATIENNGHI = @matn AND NGAYTHONGBAO = @ngaytb))
	BEGIN
		UPDATE CT_SUACHUA
		SET LYDO = @lydo,
		TIENSUACHUA = @sotiensua
		WHERE ID_CTTHUE = @idctthue AND MATIENNGHI = @matn AND NGAYTHONGBAO = @ngaytb
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateCTThue]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UpdateCTThue]
@id int, @makt int, @maph varchar(4), @ngaythue date, @ngaytra date
AS
BEGIN
	DECLARE @MAPHONG varchar(4)
	DECLARE @MAKHACHTHUE int
	SELECT @MAPHONG = MAPHONG FROM PHONG WHERE MAPHONG = @maph
	SELECT @MAKHACHTHUE = MAKHACHTHUE FROM KHACHTHUE WHERE MAKHACHTHUE = @makt
	IF (EXISTS(SELECT 1 FROM CT_THUE WHERE ID_CTTHUE = @id))
	BEGIN
		UPDATE CT_THUE
		SET MAKHACHTHUE = @MAKHACHTHUE,
		MAPHONG = @MAPHONG,
		NGAYTHUE = @ngaythue,
		NGAYTRA = @ngaytra
		WHERE ID_CTTHUE = @id
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateDichVu]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UpdateDichVu]
@madichvu varchar(10), @tendv varchar(50), @giatien money
AS
BEGIN
	DECLARE @MADV varchar(10)
	SELECT @MADV = MADV FROM DICHVU WHERE MADV = @madichvu
	IF (EXISTS(SELECT 1 FROM DICHVU WHERE MADV = @madichvu))
	BEGIN
		UPDATE DICHVU
		SET TENDICHVU = @tendv,
		GIATIEN = @giatien
		WHERE MADV = @madichvu
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateGiaDienNuoc]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UpdateGiaDienNuoc]
@id int, @dongia money
AS
BEGIN
	UPDATE DIENNUOC
	SET DONGIA = @dongia
	WHERE ID_DIENNUOC = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateHopDong]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UpdateHopDong]
@mahd varchar(8), @nd nvarchar(100), @ngaylap date, @ngaybdthue date, @ngayhethan date, @tiendatcoc money, @soluong int, @trangthai nvarchar(20), @maph varchar(4), @makt int
AS
BEGIN
	DECLARE @MAPHONG varchar(4)
	DECLARE @MAKHACHTHUE int
	SELECT @MAPHONG = MAPHONG FROM PHONG WHERE MAPHONG = @maph
	SELECT @MAKHACHTHUE = MAKHACHTHUE FROM KHACHTHUE WHERE MAKHACHTHUE = @makt
	IF (EXISTS(SELECT 1 FROM HOPDONG WHERE MAHOPDONG = @mahd))
	BEGIN
		UPDATE HopDong
    SET NOIDUNG = @nd,
        NGAYLAP = @ngaylap,
        NGAYBDTHUE = @ngaybdthue,
        NGAYHETHAN = @ngayhethan,
        TIENDATCOC = @tiendatcoc,
        SLKHACHTHUE = @soluong,
        TRANGTHAIHD = @trangthai,
        MAPHONG = @MAPHONG,
        MAKHACHTHUE = @MAKHACHTHUE
    WHERE MAHOPDONG = @mahd;
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateKhachThue]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UpdateKhachThue]
@CCCD NCHAR(12) = NULL, @HO NVARCHAR(50), @TEN NVARCHAR(10), @SDT NCHAR(11), @NGAYSINH DATE,
 @GIOITINH NCHAR(3), @NGHENGHIEP NVARCHAR(20), @QUEQUAN NVARCHAR(50)
AS
BEGIN
	DECLARE @MAKHACHTHUE INT
	SELECT @MAKHACHTHUE = MAKHACHTHUE FROM KHACHTHUE WHERE CCCD = @CCCD
	UPDATE KHACHTHUE
	SET CCCD = @CCCD, HO = @HO, TEN = @TEN, SDT = @SDT, NGAYSINH = @NGAYSINH, GIOITINH = @GIOITINH,
		NGHENGHIEP = @NGHENGHIEP, QUEQUAN = @QUEQUAN
	WHERE MAKHACHTHUE = @MAKHACHTHUE
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateLoaiPhong]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UpdateLoaiPhong]
	@TENLOAI NVARCHAR(30), @CONOITHAT BIT, @DONGIA MONEY
AS
BEGIN
	UPDATE LOAIPHONG
	SET TENLOAI = @TENLOAI, CONOITHAT = @CONOITHAT, DONGIA = @DONGIA
	WHERE TENLOAI = @TENLOAI
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdatePhong]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UpdatePhong]
	@MAPHONG VARCHAR(4), @DIENTICH FLOAT, @SLKTTD INT, @TANG INT = NULL, @DAY VARCHAR(2) = NULL, @LOAIPHONG CHAR(1), @TRANGTHAI NVARCHAR(30)
AS
BEGIN
	DECLARE @MALOAIPHONG INT
	SELECT @MALOAIPHONG = MALOAIPHONG FROM LOAIPHONG WHERE TENLOAI = @LOAIPHONG
	IF (EXISTS(SELECT 1 FROM PHONG WHERE MAPHONG = @MAPHONG))
	BEGIN
		UPDATE PHONG
		SET DIENTICH = @DIENTICH, SLKHACHTHUETOIDA = @SLKTTD, TANG = @TANG, DAY = @DAY, MALOAIPHONG = @MALOAIPHONG, TRANGTHAI = @TRANGTHAI
		WHERE MAPHONG = @MAPHONG
	END
END
GO
/****** Object:  Trigger [dbo].[CHECK_HOADON]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[CHECK_HOADON]
ON [dbo].[CT_HOADON]
AFTER INSERT, UPDATE
AS
BEGIN
	DECLARE @MAHOADON NCHAR(11), @MAPHONG VARCHAR(4)
	SELECT @MAHOADON = MAHOADON,
		   @MAPHONG = MAPHONG
	FROM inserted

	IF (NOT EXISTS(SELECT 1 FROM HOADON WHERE MAHOADON = @MAHOADON AND MAPHONG = @MAPHONG))
	BEGIN
		RAISERROR('MÃ HÓA ĐƠN HOẶC MÃ PHÒNG KHÔNG ĐÚNG.', 16, 1)
		ROLLBACK TRANSACTION
	END
END

GO
/****** Object:  Trigger [dbo].[CHECK_NGAYDONG]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[CHECK_NGAYDONG]
ON [dbo].[CT_HOADON]
AFTER INSERT, UPDATE
AS
BEGIN
	DECLARE @MAHOADON NCHAR(11), @NGAYDONG DATETIME, @NGAYLAP DATE
	SELECT @MAHOADON = MAHOADON,
		   @NGAYDONG = NGAYDONG
	FROM inserted
	SET @NGAYLAP = (SELECT NGAYLAP FROM HOADON WHERE MAHOADON = @MAHOADON)
	IF (CAST(@NGAYDONG AS DATE) < @NGAYLAP)
	BEGIN
		RAISERROR('NGÀY ĐÓNG TRƯỚC NGÀY LẬP!', 16, 1)
		ROLLBACK TRANSACTION
	END

	IF (DATEDIFF(DAY, CAST(@NGAYDONG AS DATE), @NGAYDONG) > 14)
	BEGIN
		RAISERROR('HẾT HẠN ĐÓNG TIỀN', 16, 1)
		ROLLBACK TRANSACTION
	END
END

GO
/****** Object:  Trigger [dbo].[UPDATE_NOPTIEN_HOADON]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[UPDATE_NOPTIEN_HOADON]
ON [dbo].[CT_HOADON]
AFTER INSERT, UPDATE
AS
BEGIN
	DECLARE @MAHOADON NCHAR(11), @MAPHONG VARCHAR(4), @NGAYDONG DATETIME, @SOTIEN MONEY
	SELECT @MAHOADON = MAHOADON,
		   @MAPHONG = MAPHONG,
		   @NGAYDONG = NGAYDONG,
		   @SOTIEN = SOTIENDONG
	FROM inserted

	UPDATE HOADON
	SET TONGTIENDADONG = TONGTIENDADONG + @SOTIEN
	WHERE MAHOADON = @MAHOADON
END

GO
/****** Object:  Trigger [dbo].[CHECK_NGAYTHUE]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[CHECK_NGAYTHUE]
ON [dbo].[CT_THUE]
AFTER INSERT, UPDATE
AS
BEGIN
	DECLARE @MAPHONG VARCHAR(4), @NGAYTHUE DATE, @NGAYBDTHUE DATE
	IF (UPDATE(NGAYTHUE))
	BEGIN
		SELECT @MAPHONG = MAPHONG,
			   @NGAYTHUE = NGAYTHUE
		FROM inserted
		
		SET @NGAYBDTHUE = (SELECT TOP 1 NGAYBDTHUE FROM HOPDONG WITH(INDEX=IX_NGAYLAP) WHERE MAPHONG = @MAPHONG)

		IF (@NGAYTHUE < @NGAYBDTHUE)
		BEGIN
			RAISERROR('KHÔNG ĐƯỢC THUÊ TRƯỚC NGÀY BẮT ĐẦU THUÊ.', 16, 1)
			ROLLBACK TRANSACTION
		END	 
	END
END


GO
/****** Object:  Trigger [dbo].[TRG_CHECK_KHACHTHUE_PHONG]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_CHECK_KHACHTHUE_PHONG]
ON [dbo].[CT_THUE]
AFTER INSERT
AS
BEGIN
	DECLARE @MAPHONG VARCHAR(4), @MAKHACHTHUE INT

	SELECT @MAPHONG = MAPHONG,
		@MAKHACHTHUE = MAKHACHTHUE
	FROM inserted

	IF (EXISTS(SELECT 1 FROM CT_THUE WHERE MAKHACHTHUE = @MAKHACHTHUE AND NGAYTRA IS NULL))
	BEGIN
		RAISERROR('KHÁCH THUÊ CHƯA TRẢ PHÒNG, KHÔNG THỂ THUÊ PHÒNG KHÁC', 16, 1)
		ROLLBACK TRANSACTION
	END
	

END
GO
/****** Object:  Trigger [dbo].[TRG_CHECK_PHONG_TRONG]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_CHECK_PHONG_TRONG]
ON [dbo].[CT_THUE]
AFTER INSERT
AS
BEGIN
	DECLARE @MAPHONG VARCHAR(4), @MAKHACHTHUE INT, @TRANGTHAIPHONG NVARCHAR(30)

	SELECT @MAPHONG = MAPHONG,
		@MAKHACHTHUE = MAKHACHTHUE
	FROM inserted

	SELECT @TRANGTHAIPHONG = TRANGTHAI FROM PHONG WHERE MAPHONG = @MAPHONG

	IF (@TRANGTHAIPHONG = N'Trống')
	BEGIN
		RAISERROR('PHÒNG NÀY CHƯA ĐƯỢC LẬP HỢP ĐỒNG, PHẢI LẬP HỢP ĐỒNG MỚI ĐƯỢC THÊM KHÁCH THUÊ VÀO!', 16, 1)
		ROLLBACK TRANSACTION
	END
END
GO
/****** Object:  Trigger [dbo].[TRG_CHECK_SL_KHACHTHUE]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_CHECK_SL_KHACHTHUE]
ON [dbo].[CT_THUE]
AFTER INSERT
AS
BEGIN
	DECLARE @MAPHONG VARCHAR(4), @SLKHACHTHUE INT, @SLKHACHTHUETT INT, @SLKHACHTHUETD INT

	SELECT @MAPHONG = MAPHONG
	FROM inserted

	SELECT @SLKHACHTHUE = SLKHACHTHUE FROM HOPDONG WHERE MAPHONG = @MAPHONG AND TRANGTHAIHD = N'Đang hiệu lực'
	SELECT @SLKHACHTHUETD = SLKHACHTHUETOIDA FROM PHONG WHERE MAPHONG = @MAPHONG AND TRANGTHAI = N'Đã thuê'

	SELECT @SLKHACHTHUETT = COUNT(*)
	FROM CT_THUE
	WHERE MAPHONG = @MAPHONG AND NGAYTRA IS NULL

	IF (@SLKHACHTHUE < @SLKHACHTHUETT)
	BEGIN
		RAISERROR('Số lượng khách thuê trong phòng đã đủ không thể thêm!', 16, 1)
		ROLLBACK TRANSACTION
	END

	IF (@SLKHACHTHUETD < @SLKHACHTHUETT)
	BEGIN
		RAISERROR('Số lượng khách thuê trong phòng đã vượt quá giới hạn cho phép!', 16, 1)
		ROLLBACK TRANSACTION
	END

END

GO
/****** Object:  Trigger [dbo].[TRG_UPDATE_TRANGTHAIHD_PHONG]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_UPDATE_TRANGTHAIHD_PHONG]
ON [dbo].[CT_THUE]
AFTER UPDATE
AS
BEGIN
	IF (UPDATE(NGAYTRA))
    BEGIN
        DECLARE @MAPHONG VARCHAR(4), @NGAYTRA DATE, @CNT INT, @NGAYHETHAN DATE, @MAHOPDONG VARCHAR(8)

		SELECT @MAPHONG = MAPHONG, @NGAYTRA = NGAYTRA FROM inserted
        SELECT @CNT = COUNT(*) FROM CT_THUE WHERE NGAYTRA IS NULL AND MAPHONG = @MAPHONG
		SELECT @MAHOPDONG = MAHOPDONG, @NGAYHETHAN = HD.NGAYHETHAN 
		FROM (SELECT TOP 1 * FROM HOPDONG WITH(INDEX(IX_NGAYLAP)) WHERE MAPHONG = @MAPHONG) HD

		BEGIN TRANSACTION
		BEGIN TRY
        IF @CNT = 0
        BEGIN
			IF (@NGAYTRA < @NGAYHETHAN)
			BEGIN
				UPDATE HOPDONG
				SET TRANGTHAIHD = N'Đã hủy'
				WHERE MAHOPDONG = @MAHOPDONG AND MAPHONG = @MAPHONG
			END
			ELSE
			BEGIN
				UPDATE HOPDONG
				SET TRANGTHAIHD = N'Đã hết hạn'
				WHERE MAHOPDONG = @MAHOPDONG AND MAPHONG = @MAPHONG
			END

			UPDATE PHONG
            SET TRANGTHAI = N'Trống'
            WHERE MAPHONG = @MAPHONG AND TRANGTHAI = N'Đã thuê'
        END
		COMMIT TRANSACTION
		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION
		END CATCH
    END
END
GO
/****** Object:  Trigger [dbo].[TRG_UPDATE_TRANGTHAIPHONG]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_UPDATE_TRANGTHAIPHONG]
ON [dbo].[CT_THUE]
AFTER INSERT, UPDATE

AS
BEGIN
	DECLARE @MAPHONG VARCHAR(4)
	IF (UPDATE(NGAYTHUE))
	BEGIN
		SELECT @MAPHONG = MAPHONG FROM INSERTED;

		UPDATE PHONG
		SET TRANGTHAI = N'Đã thuê'
		WHERE PHONG.MAPHONG = @MAPHONG
	END
END
GO
/****** Object:  Trigger [dbo].[CAPNHATTRANGTHAIPHONG]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[CAPNHATTRANGTHAIPHONG]
ON [dbo].[HOPDONG]
AFTER INSERT, UPDATE
AS
BEGIN
	IF (EXISTS(SELECT 1 FROM inserted))
	BEGIN
		UPDATE PHONG
		SET TRANGTHAI = N'Đã đặt cọc'
		FROM PHONG
		INNER JOIN inserted ON PHONG.MAPHONG = inserted.MAPHONG
	END
	
END
GO
/****** Object:  Trigger [dbo].[KIEMTRAHOPDONG_KHACHTHUE]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[KIEMTRAHOPDONG_KHACHTHUE]
ON [dbo].[HOPDONG]
AFTER INSERT, UPDATE
AS
BEGIN
    DECLARE @MAKHACHTHUE INT, @NGAYLAP DATE, @NGAYHETHAN DATE, @MAHOPDONG VARCHAR(8)

    SELECT @MAKHACHTHUE = i.MAKHACHTHUE,
           @NGAYLAP = i.NGAYLAP,
           @NGAYHETHAN = i.NGAYHETHAN,
           @MAHOPDONG = i.MAHOPDONG
    FROM inserted i

    IF EXISTS (SELECT 1 
               FROM HOPDONG c
               WHERE c.MAKHACHTHUE = @MAKHACHTHUE
                 AND c.MAHOPDONG <> @MAHOPDONG
                 AND c.TRANGTHAIHD = N'Đang hiệu lực'
                AND ((@NGAYLAP BETWEEN c.NGAYLAP AND c.NGAYHETHAN) OR (@NGAYHETHAN BETWEEN c.NGAYLAP AND c.NGAYHETHAN)))
    BEGIN
        RAISERROR('Khách thuê này không được lập hợp đồng mới trong khi hợp đồng cũ đang hiệu lực', 16, 1)
        ROLLBACK TRANSACTION
    END
END
GO
/****** Object:  Trigger [dbo].[KIEMTRAHOPDONG_PHONG]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[KIEMTRAHOPDONG_PHONG]
ON [dbo].[HOPDONG]
AFTER INSERT, UPDATE
AS
BEGIN
    DECLARE @MAPHONG varchar(4), @NGAYLAP DATE, @NGAYHETHAN DATE, @MAHOPDONG VARCHAR(8)

    SELECT @MAPHONG = i.MAPHONG,
           @NGAYLAP = i.NGAYLAP,
           @NGAYHETHAN = i.NGAYHETHAN,
           @MAHOPDONG = i.MAHOPDONG
    FROM inserted i

    IF EXISTS (SELECT 1 
               FROM HOPDONG c
               WHERE c.MAPHONG = @MAPHONG
                 AND c.MAHOPDONG <> @MAHOPDONG
                 AND c.TRANGTHAIHD = N'Đang hiệu lực'
                 AND ((@NGAYLAP BETWEEN c.NGAYLAP AND c.NGAYHETHAN) OR (@NGAYHETHAN BETWEEN c.NGAYLAP AND c.NGAYHETHAN)))
    BEGIN
        RAISERROR('Đã tồn tại một hợp đồng đang hiệu lực cho mã phòng này.', 16, 1)
        ROLLBACK TRANSACTION
    END
END
GO
/****** Object:  Trigger [dbo].[CAPNHATTRANGTHAITAIKHOAN]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[CAPNHATTRANGTHAITAIKHOAN] ON [dbo].[PHONG]
AFTER UPDATE
AS
BEGIN
	IF (UPDATE(TRANGTHAI))
	BEGIN
		DECLARE @TRANGTHAI NVARCHAR(30), @MAPHONG VARCHAR(4)
		SELECT @MAPHONG = MAPHONG,
			   @TRANGTHAI = TRANGTHAI
		FROM inserted

		UPDATE TAIKHOAN
		SET TRANGTHAI = 0
		WHERE @TRANGTHAI = N'Trống' AND MAPHONG = @MAPHONG

		UPDATE TAIKHOAN
		SET TRANGTHAI = 1
		WHERE @TRANGTHAI = N'Đã thuê' AND MAPHONG = @MAPHONG
	END
END
GO
/****** Object:  Trigger [dbo].[CHECK_ACCOUNT_OF]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[CHECK_ACCOUNT_OF]
ON [dbo].[TAIKHOAN]
AFTER INSERT, UPDATE
AS
BEGIN
	DECLARE @MAPHONG VARCHAR(4), @MACHUTRO VARCHAR(10)
	IF (NOT UPDATE(TRANGTHAI))
	begin
	SELECT @MAPHONG = MAPHONG,
		   @MACHUTRO = MACHUTRO
	FROM inserted
	IF (@MAPHONG IS NOT NULL AND @MACHUTRO IS NOT NULL)
	BEGIN
		RAISERROR('CẢ HAI MAPHONG VÀ MACHUTRO KHÔNG ĐỒNG THỜI KHÁC NULL', 16, 1)
		ROLLBACK TRANSACTION
	END
	IF (@MAPHONG IS NULL AND @MACHUTRO IS NULL)
	BEGIN
		RAISERROR('CẢ HAI MAPHONG VÀ MACHUTRO KHÔNG ĐỒNG THỜI BẰNG NULL', 16, 2)
		ROLLBACK TRANSACTION
	END
	end
END
GO
/****** Object:  Trigger [dbo].[KICH_HOAT_TAIKHOAN]    Script Date: 06/22/2024 2:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[KICH_HOAT_TAIKHOAN]
ON [dbo].[TAIKHOAN]
AFTER UPDATE
AS
BEGIN
	DECLARE @TENDN NVARCHAR(50), @TRANGTHAI BIT, @MATKHAU NVARCHAR(50)
	IF (UPDATE(TRANGTHAI))
	BEGIN
		SELECT @TENDN = TENDN,
			   @MATKHAU = MATKHAU,
		       @TRANGTHAI = TRANGTHAI
		FROM inserted

		DECLARE @SQL NVARCHAR(MAX)
		IF (@TRANGTHAI = 0)
		BEGIN
			SET @SQL = 'ALTER LOGIN ' + @TENDN + ' DISABLE;'
			EXEC sp_executesql @SQL
		END
		ELSE
		BEGIN
			SET @SQL = 'ALTER LOGIN ' + @TENDN + ' ENABLE;'
			EXEC sp_executesql @SQL
		END
	END
	
END
GO
USE [master]
GO
