USE [QUANLYPHONGTRO]
GO
/****** Object:  StoredProcedure [dbo].[SP_DANH_SACH_KHACH_THUE]    Script Date: 06/22/2024 3:15:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANH_SACH_KHACH_THUE]
@MAPHONG VARCHAR(4)
AS
BEGIN
	IF EXISTS (SELECT * FROM PHONG WHERE MAPHONG = @MAPHONG AND TRANGTHAI = N'Đã thuê')
		BEGIN
			
			DECLARE @NGAYTHUE date = (SELECT NGAYBDTHUE FROM HOPDONG
									WHERE MAPHONG = @MAPHONG AND TRANGTHAIHD = N'Đang hiệu lực')

			SELECT * FROM KHACHTHUE
			WHERE MAKHACHTHUE IN (SELECT MAKHACHTHUE FROM CT_THUE 
								WHERE MAPHONG = @MAPHONG AND NGAYTHUE = @NGAYTHUE AND NGAYTRA IS NULL)
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DANH_SACH_KHACH_THUE_VI_PHAM]    Script Date: 06/22/2024 3:15:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANH_SACH_KHACH_THUE_VI_PHAM]
@MAPHONG VARCHAR(4), @THANG INT, @NAM INT
AS
BEGIN
	IF EXISTS (SELECT * FROM PHONG WHERE MAPHONG = @MAPHONG AND TRANGTHAI = N'Đã thuê')
		BEGIN
			
			DECLARE @NGAYTHUE date = (SELECT NGAYBDTHUE FROM HOPDONG
									WHERE MAPHONG = @MAPHONG AND TRANGTHAIHD = N'Đang hiệu lực')

			SELECT *
			FROM (
				SELECT * FROM KHACHTHUE
				WHERE MAKHACHTHUE IN (SELECT MAKHACHTHUE FROM CT_THUE 
										WHERE MAPHONG = @MAPHONG AND NGAYTHUE = @NGAYTHUE)
			) KT
			INNER JOIN 
			(
				SELECT MAKHACHTHUE, TENNOIQUY, TIENPHAT, NGAYVIPHAM
				FROM CT_THUE CT
				INNER JOIN (
					SELECT ID_CTTHUE, TENNOIQUY, TIENPHAT, NGAYVIPHAM
					FROM NOIQUY NQ
					INNER JOIN 
						(SELECT ID_CTTHUE, MANOIQUY, NGAYVIPHAM FROM BIENBAN_VIPHAM
						WHERE  YEAR(NGAYVIPHAM) = @NAM AND MONTH(NGAYVIPHAM) = @THANG
						) BB
					ON NQ.MANOIQUY = BB.MANOIQUY
				) TMP
				ON TMP.ID_CTTHUE = CT.ID_CTTHUE
			) VP
			ON KT.MAKHACHTHUE = VP.MAKHACHTHUE

		END
END

GO
/****** Object:  StoredProcedure [dbo].[SP_InsertBienBanViPham]    Script Date: 06/22/2024 3:15:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_InsertBienBanViPham]
@idctthue int, @manq int, @solan int, @ngayvipham date
AS
BEGIN
	DECLARE @ID_CTTHUE INT
	DECLARE @MANOIQUY INT
	SELECT @ID_CTTHUE = ID_CTTHUE FROM CT_THUE WHERE ID_CTTHUE = @idctthue
	SELECT @MANOIQUY = MANOIQUY FROM NOIQUY WHERE MANOIQUY = @manq
	INSERT INTO BIENBAN_VIPHAM(ID_CTTHUE, MANOIQUY, SOLAN, NGAYVIPHAM)
	VALUES (@idctthue, @manq, @solan, @ngayvipham)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertCT_HOADON]    Script Date: 06/22/2024 3:15:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertCT_HOADON]
(
@MAHOADON nchar(14),
@MAPHONG varchar(4),
@NGAYDONG datetime,
@SOTIENDONG money
)
AS
BEGIN


INSERT INTO [dbo].[CT_HOADON]
           ([MAHOADON]
           ,[MAPHONG]
           ,[NGAYDONG]
           ,[SOTIENDONG])
     VALUES
        (@MAHOADON, @MAPHONG, @NGAYDONG, @SOTIENDONG)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertCTSUACHUA]    Script Date: 06/22/2024 3:15:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_InsertCTSUACHUA]
@idctthue int, @matn int, @ngaytb datetime, @lydo ntext, @sotiensua money
AS
BEGIN
	DECLARE @ID_CTTHUE INT
	DECLARE @MATIENNGHI INT
	SELECT @ID_CTTHUE = ID_CTTHUE FROM CT_THUE WHERE ID_CTTHUE = @idctthue
	SELECT @MATIENNGHI = MATIENNGHI FROM COSOVATCHAT WHERE MATIENNGHI = @matn
	INSERT INTO CT_SUACHUA(ID_CTTHUE, MATIENNGHI, NGAYTHONGBAO, LYDO, TIENSUACHUA)
	VALUES (@ID_CTTHUE, @MATIENNGHI, @ngaytb, @lydo, @sotiensua)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertCTThue]    Script Date: 06/22/2024 3:15:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_InsertCTThue]
@makt int, @maph varchar(4), @ngaythue date, @ngaytra date = NULL
AS
BEGIN
		DECLARE @MAPHONG varchar(4)
		DECLARE @MAKHACHTHUE int
		SELECT @MAPHONG = MAPHONG FROM PHONG WHERE MAPHONG = @maph
		SELECT @MAKHACHTHUE = MAKHACHTHUE FROM KHACHTHUE WHERE MAKHACHTHUE = @makt
		INSERT INTO CT_THUE (MAKHACHTHUE, MAPHONG, NGAYTHUE, NGAYTRA) 
		VALUES(@MAKHACHTHUE, @MAPHONG, @ngaythue, @ngaytra)
		COMMIT TRANSACTION
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertDichVu]    Script Date: 06/22/2024 3:15:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_InsertDichVu]
@madichvu varchar(10), @tendv varchar(50), @giatien money
AS
BEGIN
	DECLARE @MADV varchar(10)
	SELECT @MADV = MADV FROM DICHVU WHERE MADV = @madichvu
	INSERT INTO DICHVU(MADV, TENDICHVU, GIATIEN)
	VALUES (@MADV, @tendv, @giatien)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertHopDong]    Script Date: 06/22/2024 3:15:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_InsertHopDong]
@mahd varchar(8), @nd nvarchar(100), @ngaylap date, @ngaybdthue date, @ngayhethan date, @tiendatcoc money, @soluong int, @trangthai nvarchar(20), @maph varchar(4), @makt int
AS
BEGIN
	DECLARE @MAPHONG varchar(4)
	DECLARE @MAKHACHTHUE varchar(8) 
	SELECT @MAPHONG = MAPHONG FROM PHONG WHERE MAPHONG = @maph
	SELECT @MAKHACHTHUE = MAKHACHTHUE FROM KHACHTHUE WHERE MAKHACHTHUE = @makt
	INSERT INTO HOPDONG(MAHOPDONG, NOIDUNG, NGAYLAP, NGAYBDTHUE, NGAYHETHAN, TIENDATCOC, SLKHACHTHUE, TRANGTHAIHD, MAPHONG, MAKHACHTHUE)
	VALUES (@mahd, @nd, @ngaylap, @ngaybdthue, @ngayhethan, @tiendatcoc, @soluong, @trangthai, @MAPHONG, @MAKHACHTHUE)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertKhachThue]    Script Date: 06/22/2024 3:15:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_InsertKhachThue]
@CCCD NCHAR(12) = NULL, @HO NVARCHAR(50), @TEN NVARCHAR(10), @SDT NCHAR(11), @NGAYSINH DATE,
 @GIOITINH NCHAR(3), @NGHENGHIEP NVARCHAR(20), @QUEQUAN NVARCHAR(50)
AS
BEGIN
	INSERT INTO KHACHTHUE(CCCD, HO, TEN, SDT, NGAYSINH, GIOITINH, NGHENGHIEP, QUEQUAN, TRANGTHAI)
	VALUES(@CCCD, @HO, @TEN, @SDT, @NGAYSINH, @GIOITINH, @NGHENGHIEP, @QUEQUAN, 1)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertLoaiPhong]    Script Date: 06/22/2024 3:15:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_InsertLoaiPhong]
	@TENLOAI NVARCHAR(30), @CONOITHAT BIT, @DONGIA MONEY
AS
BEGIN
	INSERT INTO LOAIPHONG(TENLOAI, CONOITHAT, DONGIA)
	VALUES(@TENLOAI, @CONOITHAT, @DONGIA)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertPhong]    Script Date: 06/22/2024 3:15:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_InsertPhong]
	@MAPHONG VARCHAR(4), @DIENTICH FLOAT, @SLKTTD INT, @TANG INT = NULL, @DAY VARCHAR(2) = NULL, @LOAIPHONG CHAR(1)
AS
BEGIN	
	DECLARE @MALP INT
	SELECT @MALP = MALOAIPHONG FROM LOAIPHONG WHERE TENLOAI = @LOAIPHONG
	INSERT INTO PHONG(MAPHONG, DIENTICH, SLKHACHTHUETOIDA, TANG, DAY, MALOAIPHONG, TRANGTHAI)
	VALUES(@MAPHONG, @DIENTICH, @SLKTTD, @TANG, @DAY, @MALP, N'Trống')
		
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAPHOADON]    Script Date: 06/22/2024 3:15:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAPHOADON]
 @MAPHONG VARCHAR(4), @THANGCUOI BIT = 0
AS
BEGIN
	SET DATEFORMAT DMY
	IF (@THANGCUOI = 0 AND EXISTS(SELECT * FROM HOADON WHERE MONTH(GETDATE()) = MONTH(NGAYLAP)))
	BEGIN
		RETURN
	END
	DECLARE @TUNGAY DATETIME, @DENNGAY DATETIME
			SELECT @TUNGAY = ISNULL(MAX(NGAYLAP), DATEADD(MONTH, -1, GETDATE())) FROM HOADON WHERE MAPHONG = @MAPHONG
			IF DATEDIFF(MONTH, @TUNGAY, GETDATE()) > 1 RETURN
			SET @DENNGAY = DATEADD(SECOND, (24*60*60) -1, CONVERT(DATETIME, EOMONTH(GETDATE(), -1)))
	
	SELECT ID_CTTHUE
	INTO #ID_CTTHUE
	FROM CT_THUE WHERE MAPHONG = @MAPHONG AND NGAYTHUE < @DENNGAY AND (NGAYTRA IS NULL OR NGAYTRA BETWEEN @TUNGAY AND @DENNGAY)

	DECLARE @TIENDICHVU MONEY, @TIENPHONG MONEY, @TIENSUACHUA MONEY, @TIENPHAT MONEY, @TIENDIEN MONEY, @TIENNUOC MONEY
	SELECT @TIENSUACHUA = SUM(TIENSUACHUA)
	FROM CT_SUACHUA
	WHERE ID_CTTHUE IN (SELECT * FROM #ID_CTTHUE) AND (NGAYTHONGBAO BETWEEN @TUNGAY AND @DENNGAY)
	
	SELECT @TIENPHAT = SUM(TIENPHAT)
	FROM (
		SELECT MANOIQUY
		FROM BIENBAN_VIPHAM
		WHERE ID_CTTHUE IN (SELECT * FROM #ID_CTTHUE) AND (NGAYVIPHAM BETWEEN @TUNGAY AND @DENNGAY)
		) BB INNER JOIN NOIQUY ON BB.MANOIQUY = NOIQUY.MANOIQUY

	SELECT @TIENDICHVU = SUM(ISNULL(SOLUONG, 1) * DONGIA)
	FROM CT_DICHVU
	WHERE MAPHONG = @MAPHONG AND THANG = MONTH(@TUNGAY) AND NAM = YEAR(@TUNGAY)

	SELECT @TIENDIEN = (CHISOCUOI - CHISODAU) * DONGIA
	FROM CT_DIENNUOC
	WHERE MAPHONG = @MAPHONG AND ID_DIENNUOC = 1 AND THANG = MONTH(@TUNGAY) AND NAM = YEAR(@TUNGAY)

	SELECT @TIENNUOC = (CHISOCUOI - CHISODAU) * DONGIA
	FROM CT_DIENNUOC
	WHERE MAPHONG = @MAPHONG AND ID_DIENNUOC = 2 AND THANG = MONTH(@TUNGAY) AND NAM = YEAR(@TUNGAY)

	SELECT @TIENPHONG = DONGIA
	FROM LOAIPHONG
	WHERE MALOAIPHONG = (SELECT MALOAIPHONG FROM PHONG WHERE MAPHONG = @MAPHONG)

	DECLARE @MAHOADON VARCHAR(14)

	SET @MAHOADON = 'HD' + @MAPHONG + '_' + CAST(DAY(GETDATE()) AS VARCHAR(2)) + RIGHT('0' + CAST(MONTH(GETDATE()) AS VARCHAR(2)), 2) + CAST(YEAR(GETDATE()) AS VARCHAR(4))

	DECLARE @MAHOADON_OLD VARCHAR(14)
	SELECT @MAHOADON_OLD = MAHOADON
	FROM HOADON
	WHERE MAPHONG = @MAPHONG AND (NGAYLAP BETWEEN @TUNGAY AND @DENNGAY)

	IF @MAHOADON_OLD IS NOT NULL
		BEGIN
			DECLARE @NOTHANGTRUOC MONEY
			SELECT @NOTHANGTRUOC = (TIENDIEN + TIENNUOC + TIENDICHVU + TIENSUACHUA + TIENPHAT + TIENPHONG + NOTHANGTRUOC - TONGTIENDADONG)
			FROM HOADON
			WHERE MAHOADON = @MAHOADON_OLD
			INSERT INTO HOADON(MAHOADON, NGAYLAP, TIENDIEN, TIENNUOC,TIENDICHVU, TIENSUACHUA, TIENPHAT, TIENPHONG, NOTHANGTRUOC, MAPHONG)
			VALUES (@MAHOADON, GETDATE(), ISNULL(@TIENDIEN, 0), ISNULL(@TIENNUOC, 0), ISNULL(@TIENDICHVU, 0), ISNULL(@TIENSUACHUA, 0), ISNULL(@TIENPHAT, 0), ISNULL(@TIENPHONG, 0), @NOTHANGTRUOC, @MAPHONG)
		END
	ELSE
		BEGIN
			INSERT INTO HOADON(MAHOADON, NGAYLAP, TIENDIEN, TIENNUOC, TIENDICHVU, TIENSUACHUA, TIENPHAT, TIENPHONG, MAPHONG)
			VALUES (@MAHOADON, GETDATE(), ISNULL(@TIENDIEN, 0), ISNULL(@TIENNUOC, 0), ISNULL(@TIENDICHVU, 0), ISNULL(@TIENSUACHUA, 0), ISNULL(@TIENPHAT, 0), ISNULL(@TIENPHONG, 0), @MAPHONG)
		END
		IF @THANGCUOI = 1
		BEGIN
			DECLARE @TIENDATCOC MONEY 
			DECLARE @SOTHANGKYTRONGHD INT, @SOTHANGOTHUCTE INT, @NGAYKYHD DATE, @NGAYHETHAN DATE
			SELECT @NGAYKYHD = NGAYLAP, @NGAYHETHAN = NGAYHETHAN FROM HOPDONG WHERE MAPHONG = @MAPHONG AND TRANGTHAIHD = N'Đang hiệu lực'
			SET @SOTHANGKYTRONGHD = DATEDIFF(MONTH, @NGAYKYHD, @NGAYHETHAN)
			SET @SOTHANGOTHUCTE = DATEDIFF(MONTH, @NGAYKYHD, @DENNGAY)
			IF (@SOTHANGOTHUCTE > @SOTHANGKYTRONGHD)
			BEGIN
				SET @TIENDATCOC = (SELECT TIENDATCOC FROM HOPDONG WHERE MAPHONG = @MAPHONG AND TRANGTHAIHD = N'Đang hiệu lực')
				INSERT INTO CT_HOADON(MAHOADON, MAPHONG, NGAYDONG, SOTIENDONG)
				VALUES(@MAHOADON, @MAPHONG, @TUNGAY, @TIENDATCOC)
			END
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ResetPassword]    Script Date: 06/22/2024 3:15:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ResetPassword]
    @LGNAME VARCHAR(50),
    @NEWPASS VARCHAR(50)
AS
BEGIN
    -- Bắt đầu một transaction để đảm bảo tính toàn vẹn dữ liệu
    BEGIN TRANSACTION

    BEGIN TRY
        -- Thay đổi mật khẩu của login
        DECLARE @sql NVARCHAR(MAX)
        SET @sql = N'ALTER LOGIN ' + QUOTENAME(@LGNAME) + ' WITH PASSWORD = ''' + @NEWPASS + ''';'

        -- Thực thi câu lệnh động
        EXEC sp_executesql @sql;

        -- Kiểm tra xem login có tồn tại trong bảng TAIKHOAN hay không
        IF EXISTS (SELECT 1 FROM TAIKHOAN WHERE TENDN = @LGNAME)
        BEGIN
            -- Cập nhật mật khẩu mới trong bảng TAIKHOAN
            UPDATE TAIKHOAN
            SET MATKHAU = @NEWPASS
            WHERE TENDN = @LGNAME;
        END

        -- Hoàn tất transaction
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- Nếu có lỗi, rollback transaction
        ROLLBACK TRANSACTION;

        -- Trả về mã lỗi và thông báo lỗi
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RestoreDatabase]    Script Date: 06/22/2024 3:15:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RestoreDatabase]
    @DatabaseName NVARCHAR(128),
    @BackupFilePath NVARCHAR(500)
AS
BEGIN
    -- Kiểm tra xem cơ sở dữ liệu đã tồn tại hay chưa
    IF EXISTS (SELECT name FROM sys.databases WHERE name = @DatabaseName)
    BEGIN
        PRINT 'Cơ sở dữ liệu đã tồn tại. Không thể khôi phục.'
        RETURN;
    END

    -- Thực hiện lệnh khôi phục
    DECLARE @SqlCmd NVARCHAR(1000);
    SET @SqlCmd = 'RESTORE DATABASE ' + QUOTENAME(@DatabaseName) + ' FROM DISK = ''' + @BackupFilePath + '''';
    EXEC sp_executesql @SqlCmd;
    
    PRINT 'Cơ sở dữ liệu ' + @DatabaseName + ' đã được khôi phục thành công từ tập tin ' + @BackupFilePath + '.';
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TaoLogin]    Script Date: 06/22/2024 3:15:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TaoLogin]
	@LGNAME VARCHAR(50),
	@PASS VARCHAR(50),
	@USERNAME VARCHAR(50),
	@ROLE VARCHAR(50)
AS
BEGIN
  DECLARE @RET INT
  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS,'QUANLYPHONGTRO'                     

  IF (@RET = 1)  -- LOGIN NAME BI TRUNG
  BEGIN
     RETURN 1
  END
  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
  IF (@RET = 1)  -- USER  NAME BI TRUNG
  BEGIN
       EXEC SP_DROPLOGIN @LGNAME
       RETURN 2
  END
  EXEC sp_addrolemember @ROLE, @USERNAME

  IF @ROLE= 'CHUTRO'
	BEGIN
		EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
		-- Insert into TAIKHOAN table
		IF (NOT EXISTS(SELECT 1 FROM TAIKHOAN WHERE TENDN = @LGNAME))
			BEGIN
				INSERT INTO TAIKHOAN (TENDN, MATKHAU, TRANGTHAI, MACHUTRO, MAQUYEN)
				VALUES (@LGNAME, @PASS, 0, @USERNAME, 1)
			END
		
	END
  ELSE
	BEGIN
		IF (NOT EXISTS(SELECT 1 FROM TAIKHOAN WHERE TENDN = @LGNAME))
		BEGIN
			INSERT INTO TAIKHOAN (TENDN, MATKHAU, TRANGTHAI, MAPHONG, MAQUYEN)
			VALUES (@LGNAME, @PASS, 0, @USERNAME, 2)
		END	
	END
END

GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_CT_DIENNUOC]    Script Date: 06/22/2024 3:15:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_CT_DIENNUOC]
@ID_DIENNUOC INT, @MAPHONG VARCHAR(4), @THANG INT, @NAM INT, @CHISODAU INT, @CHISOCUOI INT
AS
BEGIN
	DECLARE @DONGIA INT  = (SELECT DONGIA FROM DIENNUOC WHERE ID = @ID_DIENNUOC)

	INSERT INTO CT_DIENNUOC
	VALUES (@ID_DIENNUOC, @MAPHONG, @THANG, @NAM, @CHISODAU, @CHISOCUOI, @DONGIA)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateBienBanViPham]    Script Date: 06/22/2024 3:15:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UpdateBienBanViPham]
@id int, @idctthue int, @manq int, @solan int, @ngayvipham date
AS
BEGIN
	DECLARE @ID_CTTHUE INT
	DECLARE @MANOIQUY INT
	SELECT @ID_CTTHUE = ID_CTTHUE FROM CT_THUE WHERE ID_CTTHUE = @idctthue
	SELECT @MANOIQUY = MANOIQUY FROM NOIQUY WHERE MANOIQUY = @manq
	IF (EXISTS(SELECT 1 FROM BIENBAN_VIPHAM WHERE ID_BBVP = @id))
	BEGIN
		UPDATE BIENBAN_VIPHAM
		SET ID_CTTHUE = @ID_CTTHUE,
		MANOIQUY = @MANOIQUY,
		SOLAN = @solan,
		NGAYVIPHAM = @ngayvipham
		WHERE ID_BBVP = @id
	END
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateCT_HOADON]    Script Date: 06/22/2024 3:15:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateCT_HOADON]
(
@MAHOADON nchar(14),
@MAPHONG varchar(4),
@NGAYDONG datetime,
@SOTIENDONG money
)
AS
BEGIN
   IF (EXISTS(SELECT 1 FROM CT_HOADON WHERE MAHOADON = @MAHOADON AND MAPHONG = @MAPHONG))
   BEGIN
	UPDATE CT_HOADON
	SET NGAYDONG = @NGAYDONG,
	SOTIENDONG = @SOTIENDONG
	WHERE MAHOADON = @MAHOADON AND MAPHONG = @MAPHONG
   END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateCTDichVu]    Script Date: 06/22/2024 3:15:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UpdateCTDichVu]
@maph varchar(4), @madv varchar(10), @thang int, @nam int, @soluong int, @dongia money
AS
BEGIN
	DECLARE @MAPHONG varchar(4)
	DECLARE @MADICHVU varchar(10)
	SELECT @MAPHONG = MAPHONG FROM PHONG WHERE MAPHONG = @maph
	SELECT @MADICHVU = MADV FROM DICHVU WHERE MADV = @madv
	IF (EXISTS(SELECT 1 FROM CT_DICHVU WHERE MAPHONG = @maph AND MADV = @madv AND THANG = @thang AND NAM = @nam))
	BEGIN
		UPDATE CT_DICHVU
		SET SOLUONG = @soluong,
		DONGIA = @dongia
		WHERE MAPHONG = @maph AND MADV = @madv AND THANG = @thang AND NAM = @nam
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateCTSUACHUA]    Script Date: 06/22/2024 3:15:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UpdateCTSUACHUA]
@idctthue int, @matn int, @ngaytb datetime, @lydo ntext, @sotiensua money
AS
BEGIN
	DECLARE @ID_CTTHUE INT
	DECLARE @MATIENNGHI INT
	SELECT @ID_CTTHUE = ID_CTTHUE FROM CT_THUE WHERE ID_CTTHUE = @idctthue
	SELECT @MATIENNGHI = MATIENNGHI FROM COSOVATCHAT WHERE MATIENNGHI = @matn
	IF (EXISTS(SELECT 1 FROM CT_SUACHUA WHERE ID_CTTHUE = @idctthue AND MATIENNGHI = @matn AND NGAYTHONGBAO = @ngaytb))
	BEGIN
		UPDATE CT_SUACHUA
		SET LYDO = @lydo,
		TIENSUACHUA = @sotiensua
		WHERE ID_CTTHUE = @idctthue AND MATIENNGHI = @matn AND NGAYTHONGBAO = @ngaytb
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateCTThue]    Script Date: 06/22/2024 3:15:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UpdateCTThue]
@id int, @makt int, @maph varchar(4), @ngaythue date, @ngaytra date
AS
BEGIN
	DECLARE @MAPHONG varchar(4)
	DECLARE @MAKHACHTHUE int
	SELECT @MAPHONG = MAPHONG FROM PHONG WHERE MAPHONG = @maph
	SELECT @MAKHACHTHUE = MAKHACHTHUE FROM KHACHTHUE WHERE MAKHACHTHUE = @makt
	IF (EXISTS(SELECT 1 FROM CT_THUE WHERE ID_CTTHUE = @id))
	BEGIN
		UPDATE CT_THUE
		SET MAKHACHTHUE = @MAKHACHTHUE,
		MAPHONG = @MAPHONG,
		NGAYTHUE = @ngaythue,
		NGAYTRA = @ngaytra
		WHERE ID_CTTHUE = @id
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateDichVu]    Script Date: 06/22/2024 3:15:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UpdateDichVu]
@madichvu varchar(10), @tendv varchar(50), @giatien money
AS
BEGIN
	DECLARE @MADV varchar(10)
	SELECT @MADV = MADV FROM DICHVU WHERE MADV = @madichvu
	IF (EXISTS(SELECT 1 FROM DICHVU WHERE MADV = @madichvu))
	BEGIN
		UPDATE DICHVU
		SET TENDICHVU = @tendv,
		GIATIEN = @giatien
		WHERE MADV = @madichvu
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateGiaDienNuoc]    Script Date: 06/22/2024 3:15:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UpdateGiaDienNuoc]
@id int, @dongia money
AS
BEGIN
	UPDATE DIENNUOC
	SET DONGIA = @dongia
	WHERE ID_DIENNUOC = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateHopDong]    Script Date: 06/22/2024 3:15:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UpdateHopDong]
@mahd varchar(8), @nd nvarchar(100), @ngaylap date, @ngaybdthue date, @ngayhethan date, @tiendatcoc money, @soluong int, @trangthai nvarchar(20), @maph varchar(4), @makt int
AS
BEGIN
	DECLARE @MAPHONG varchar(4)
	DECLARE @MAKHACHTHUE int
	SELECT @MAPHONG = MAPHONG FROM PHONG WHERE MAPHONG = @maph
	SELECT @MAKHACHTHUE = MAKHACHTHUE FROM KHACHTHUE WHERE MAKHACHTHUE = @makt
	IF (EXISTS(SELECT 1 FROM HOPDONG WHERE MAHOPDONG = @mahd))
	BEGIN
		UPDATE HopDong
    SET NOIDUNG = @nd,
        NGAYLAP = @ngaylap,
        NGAYBDTHUE = @ngaybdthue,
        NGAYHETHAN = @ngayhethan,
        TIENDATCOC = @tiendatcoc,
        SLKHACHTHUE = @soluong,
        TRANGTHAIHD = @trangthai,
        MAPHONG = @MAPHONG,
        MAKHACHTHUE = @MAKHACHTHUE
    WHERE MAHOPDONG = @mahd;
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateKhachThue]    Script Date: 06/22/2024 3:15:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UpdateKhachThue]
@CCCD NCHAR(12) = NULL, @HO NVARCHAR(50), @TEN NVARCHAR(10), @SDT NCHAR(11), @NGAYSINH DATE,
 @GIOITINH NCHAR(3), @NGHENGHIEP NVARCHAR(20), @QUEQUAN NVARCHAR(50)
AS
BEGIN
	DECLARE @MAKHACHTHUE INT
	SELECT @MAKHACHTHUE = MAKHACHTHUE FROM KHACHTHUE WHERE CCCD = @CCCD
	UPDATE KHACHTHUE
	SET CCCD = @CCCD, HO = @HO, TEN = @TEN, SDT = @SDT, NGAYSINH = @NGAYSINH, GIOITINH = @GIOITINH,
		NGHENGHIEP = @NGHENGHIEP, QUEQUAN = @QUEQUAN
	WHERE MAKHACHTHUE = @MAKHACHTHUE
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateLoaiPhong]    Script Date: 06/22/2024 3:15:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UpdateLoaiPhong]
	@TENLOAI NVARCHAR(30), @CONOITHAT BIT, @DONGIA MONEY
AS
BEGIN
	UPDATE LOAIPHONG
	SET TENLOAI = @TENLOAI, CONOITHAT = @CONOITHAT, DONGIA = @DONGIA
	WHERE TENLOAI = @TENLOAI
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdatePhong]    Script Date: 06/22/2024 3:15:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UpdatePhong]
	@MAPHONG VARCHAR(4), @DIENTICH FLOAT, @SLKTTD INT, @TANG INT = NULL, @DAY VARCHAR(2) = NULL, @LOAIPHONG CHAR(1), @TRANGTHAI NVARCHAR(30)
AS
BEGIN
	DECLARE @MALOAIPHONG INT
	SELECT @MALOAIPHONG = MALOAIPHONG FROM LOAIPHONG WHERE TENLOAI = @LOAIPHONG
	IF (EXISTS(SELECT 1 FROM PHONG WHERE MAPHONG = @MAPHONG))
	BEGIN
		UPDATE PHONG
		SET DIENTICH = @DIENTICH, SLKHACHTHUETOIDA = @SLKTTD, TANG = @TANG, DAY = @DAY, MALOAIPHONG = @MALOAIPHONG, TRANGTHAI = @TRANGTHAI
		WHERE MAPHONG = @MAPHONG
	END
END
GO
